<div class="hui-media-list" style="padding:20px;padding-top: 0">
    <ul>
        <li>
            <a class="goQiangDan" data-id="1" data-price="312" data-min="110" onclick="return hoto(this)"
               href="/index/rot_order/index/1.html?type=1">
                <div class="hui-media-list-img"><img src="/statics/img/tb.svg"></div>
                <div class="hui-media-content"><p style="color:white;font-size: 1.4rem;margin-top:10px">淘寶專區</p>
                    <p style="margin-bottom: 10px;"><span style="color:white">頂頂頂頂</span></p><em>傭金:0.2%</em>
                </div>
            </a>
        </li>
        <li>
            <a class="goQiangDan" data-id="1" data-price="312" data-min="110" onclick="return hoto(this)"
               href="/index/rot_order/index/1.html?type=2">
                <div class="hui-media-list-img"><img src="/statics/img/gd.svg"></div>
                <div class="hui-media-content"><p style="color:white;font-size: 1.4rem;margin-top:10px">京東專區</p>
                    <p style="margin-bottom: 10px;"><span style="color:white">京東</span></p><em>傭金:0.3%</em>
                </div>
            </a>
        </li>
        <li>
            <a class="goQiangDan" data-id="1" data-price="312" data-min="110" onclick="return hoto(this)"
               href="/index/rot_order/index/1.html?type=3">
                <div class="hui-media-list-img"><img src="/statics/img/w.svg"></div>
                <div class="hui-media-content"><p style="color:white;font-size: 1.4rem;margin-top:10px">唯品會專區</p>
                    <p style="margin-bottom: 10px;"><span style="color:white">唯品會專區</span></p><em>傭金:0.4%</em>
                </div>
            </a>
        </li>
        <li>
            <a class="goQiangDan" data-id="1" data-price="312" data-min="110" onclick="return hoto(this)"
               href="/index/rot_order/index/1.html?type=4">
            <div class="hui-media-list-img"><img src="/statics/img/pdd.png"></div>
            <div class="hui-media-content"><p style="color:white;font-size: 1.4rem;margin-top:10px">拼多多專區</p>
                <p style="margin-bottom: 10px;"><span style="color:white">拼多多專區</span></p><em>傭金:0.5%</em>
            </div>
        </a></li>
    </ul>
</div>