{extend name='admin@main'}

{block name="content"}

<!--<form onsubmit="return false;" id="GoodsForm" data-auto="true" method="post" class='layui-form layui-card' autocomplete="off">-->

    <!--<div class="layui-card-body think-box-shadow padding-left-40">-->


        <!--<div class="layui-form-item">-->
            <!--<span class="color-green label-required-prev">轮播展示图片</span>-->
            <!--<table class="layui-table">-->
                <!--<thead>-->
                <!--<tr>-->
                    <!--<th class="text-left">展示图片</th>-->
                <!--</tr>-->
                <!--<tr>-->
                    <!--<td width="auto" class="text-left"><input name="image" type="hidden" value="{$info.image|default=''}"></td>-->
                <!--</tr>-->
                <!--</thead>-->
            <!--</table>-->
            <!--<script> $('[name="image"]').uploadMultipleImage()</script>-->
        <!--</div>-->

        <!--<div class="layui-form-item text-center">-->
            <!--<button class="layui-btn" type="submit">保存图片</button>-->
            <!--<button class="layui-btn layui-btn-danger" ng-click="hsitoryBack()" type="button">取消编辑</button>-->
        <!--</div>-->

    <!--</div>-->
<!--</form>-->


<form onsubmit="return false;" id="GoodsForm" data-auto="true" method="post" class='layui-form layui-card' autocomplete="off">

    <div class="layui-card-body think-box-shadow padding-left-40">

        <div class="layui-form-item layui-row layui-col-space15">

            <label class="layui-col-xs9 relative">
                <span class="color-green">跳轉連結</span>
                <input name="url" required class="layui-input" placeholder="請輸入跳轉連結">
                <input type="hidden" name="_csrf_" value="{:systoken('admin/help/add_banner')}">
            </label>
        </div>



        <div class="layui-form-item block">
            <span class="label-required-prev color-green">圖片</span>

            <span width="auto" class="text-left"><input name="image" type="hidden" value="{$info.image|default=''}"></span>
            <script> $('[name="image"]').uploadMultipleImage()</script>
        </div>

        <div class="layui-form-item text-center">
            <button class="layui-btn" type="submit">提交</button>
            <button class="layui-btn layui-btn-danger" ng-click="hsitoryBack()" type="button">取消</button>
        </div>

    </div>
</form>


{/block}