{extend name='main'}

{block name="content"}

<div class="think-box-shadow">
	<a class="layui-btn layui-btn layui-btn" data-open="{:url('add_home_meg')}" data-value="id#0" style='background:green;'>新增</a>
    <table class="layui-table margin-top-15" lay-skin="line" >
        {notempty name='list'}
        <thead>
        <tr>
            <th class='text-left nowrap'>類型</th>
            <th class='text-left nowrap' >正文内容</th>
            <th class='text-left nowrap'>更新時間</th>
            <th class='text-left nowrap'>最後編輯</th>
            {if auth("edit_home_msg")}
            <th class='text-left nowrap'>操作</th>
            {/if}
        </tr>
        </thead>
        {/notempty}
        <tbody>
        {foreach $list as $key=>$vo}
        <tr>
            <td class='text-left nowrap'>{$vo.title}</td>
            <td class='text-left nowrap' >點擊編輯查看詳情</td>
            <td class='text-left nowrap'>{$vo.addtime|format_datetime}</td>
            <td class='text-left nowrap'>{$vo.author}</td>
            <td class='text-left nowrap'>
            {if auth("edit_home_msg")}
                <a class="layui-btn layui-btn-xs layui-btn" data-open="{:url('edit_home_msg',['id'=>$vo.id])}" data-value="id#{$vo.id}" style='background:green;'>編輯</a>
            {/if}
            </td>
        </tr>
        {/foreach}
        </tbody>
    </table>

</div>
{/block}
