
    <style>
        body {
            background: #f2f2f2;
            margin-bottom: 65px;
        }

        .header {
            width: 100%;
            background: #fff!important;
            color: #464646 !important;
            position: fixed;
            top: 0;
            z-index: 99;
            position: relative;
        }

        .header > p {
            width: 96%;
            margin: 0 2%;
            height: 46px;
            line-height: 46px;
            text-align: center;
        }

        .help-main {
            margin: 15px 10px;
            background: #2e2e30;
            border-radius: 10px;
            padding: 0 10px;
        }

        .title {
            padding-bottom: 10px;
            font-weight: 700;
            font-size: 22px;
        }

        .time {
            color: #130ffb;
            font-size: 14px;
        }

        .help-detile {
            margin-top: 10px;
            font-size: 13px;
        }

        .help-detile img {
            max-width: 99%;
        }
    </style>

</head>
<body id="app">
<div class="help-main">

    <p class="time" style="text-align:center">
        <b style='margin-top: 10px;'><?php /* echo date('Y年m月d日 H:i:s', $msg['addtime']); */ ?></b>
        </p>
    <div class="help-detile" style="color: #009688;">
        {$msg.content|raw}
    </div>
</div>

</body>
</html>