<form class="layui-form layui-card" action="{:request()->url()}" data-auto="true" method="post" autocomplete="off">

    <div class="layui-card-body padding-left-40">

        <div class="layui-form-item">
            <label class="relative block">
                <span class="color-green font-w7">許可權名稱</span>
                <span class="color-desc margin-left-5">Title</span>
                <input type="text" name="title" value='{$vo.title|default=""}' required placeholder="請輸入許可權名稱" class="layui-input">
            </label>
        </div>

        <div class="layui-form-item">
            <label class="relative block">
                <span class="color-green font-w7">許可權描述</span>
                <span class="color-desc margin-left-5">Authorization</span>
                <textarea placeholder="請輸入許可權描述" required class="layui-textarea" name="desc">{$vo.desc|default=""}</textarea>
            </label>
        </div>

    </div>

    <div class="hr-line-dashed"></div>
    {notempty name='vo.id'}<input type='hidden' value='{$vo.id}' name='id'>{/notempty}

    <div class="layui-form-item text-center">
        <button class="layui-btn" type='submit'>保存數據</button>
        <button class="layui-btn layui-btn-danger" type='button' data-confirm="確定要取消編輯嗎？" data-close>取消編輯</button>
    </div>
</form>