{extend name='main'}

{block name="button"}

{if auth("admin/auth/add")}
<button data-modal='{:url("add")}' data-title="添加許可權" class='layui-btn layui-btn-sm layui-btn-primary'>添加許可權</button>
{/if}

{if auth("admin/auth/remove")}
<button data-action='{:url("remove")}' data-rule="id#{key}" data-csrf="{:systoken('admin/auth/remove')}" data-confirm="確定要删除這些許可權嗎？" class='layui-btn layui-btn-sm layui-btn-primary'>删除許可權</button>
{/if}

{/block}

{block name="content"}

<div class="think-box-shadow">
    {include file='auth/index_search'}
    <table class="layui-table margin-top-10" lay-skin="line">
        {notempty name='list'}
        <thead>
        <tr>
            <th class='list-table-check-td think-checkbox'>
                <label><input data-auto-none data-check-target='.list-check-box' type='checkbox'></label>
            </th>
            <th class='text-left nowrap'>許可權資訊</th>
            <th class='text-left nowrap'>創建時間</th>
            <th class="text-center nowrap">使用狀態</th>
            <th></th>
        </tr>
        </thead>
        {/notempty}
        <tbody>
        {foreach $list as $key=>$vo}
        <tr data-dbclick>
            <td class='list-table-check-td think-checkbox'>
                <label><input class="list-check-box" value='{$vo.id}' type='checkbox'></label>
            </td>
            <td class='text-left'>
                許可權名稱：{$vo.title|default='-'}<br>
                <p class="color-desc">許可權描述：{$vo.desc|default="沒有寫描述哦！"}</p>
            </td>
            <td class="text-left nowrap">
                日期：{$vo.create_at|format_datetime|str_replace=' ','<br><span class="color-desc">時間：',###|raw}</span>
            </td>
            <td class='text-center nowrap'>
                {eq name='vo.status' value='0'}<span class="color-red">已禁用</span>{else}<span class="color-green">使用中</span>{/eq}
            </td>
            <td class='text-center nowrap'>

                {if auth("admin/auth/edit")}
                <span class="text-explode">|</span>
                <a data-dbclick class="layui-btn layui-btn-sm" data-title="編輯許可權" data-modal='{:url("admin/auth/edit")}?id={$vo.id}'>編 輯</a>
                {/if}

                {if auth("admin/auth/apply")}
                <a class="layui-btn layui-btn-normal layui-btn-sm" data-open='{:url("admin/auth/apply")}?id={$vo.id}'>授 權</a>
                {/if}

                {if $vo.status eq 1 and auth("admin/auth/forbid")}
                <a class="layui-btn layui-btn-warm layui-btn-sm" data-action="{:url('forbid')}" data-value="id#{$vo.id};status#0" data-csrf="{:systoken('admin/auth/forbid')}">禁 用</a>
                {elseif $vo.status eq 0 and auth("admin/auth/resume")}
                <a class="layui-btn layui-btn-warm layui-btn-sm" data-action="{:url('resume')}" data-value="id#{$vo.id};status#1" data-csrf="{:systoken('admin/auth/resume')}">啟 用</a>
                {/if}

                {if auth("admin/auth/remove")}
                <a class="layui-btn layui-btn-danger layui-btn-sm" data-confirm="确定要删除数据吗?" data-action="{:url('remove')}" data-value="id#{$vo.id}" data-csrf="{:systoken('admin/auth/remove')}">删 除</a>
                {/if}

            </td>
        </tr>
        {/foreach}
        </tbody>
    </table>

    {empty name='list'}<span class="notdata">沒有記錄哦</span>{else}{$pagehtml|raw|default=''}{/empty}

</div>

{/block}
