<fieldset>

    <legend>条件搜索</legend>

    <form class="layui-form layui-form-pane form-search" action="{:request()->url()}" onsubmit="return false" method="get" autocomplete="off">

        <div class="layui-form-item layui-inline">
            <label class="layui-form-label">操作帳號</label>
            <div class="layui-input-inline">
                <input name="username" value="{$Think.get.username|default=''}" placeholder="請輸入操作帳號" class="layui-input">
            </div>
        </div>

        <div class="layui-form-item layui-inline">
            <label class="layui-form-label">操作節點</label>
            <div class="layui-input-inline">
                <input name="node" value="{$Think.get.node|default=''}" placeholder="請輸入操作節點" class="layui-input">
            </div>
        </div>

        <div class="layui-form-item layui-inline">
            <label class="layui-form-label">操作行為</label>
            <div class="layui-input-inline">
                <input name="action" value="{$Think.get.action|default=''}" placeholder="請輸入操作行為" class="layui-input">
            </div>
        </div>

        <div class="layui-form-item layui-inline">
            <label class="layui-form-label">操作描述</label>
            <div class="layui-input-inline">
                <input name="content" value="{$Think.get.content|default=''}" placeholder="請輸入操作內容" class="layui-input">
            </div>
        </div>

        <div class="layui-form-item layui-inline">
            <label class="layui-form-label">位置地址</label>
            <div class="layui-input-inline">
                <input name="geoip" value="{$Think.get.geoip|default=''}" placeholder="請輸入位置地址" class="layui-input">
            </div>
        </div>

        <div class="layui-form-item layui-inline">
            <label class="layui-form-label">操作時間</label>
            <div class="layui-input-inline">
                <input data-date-range name="create_at" value="{$Think.get.create_at|default=''}" placeholder="請選擇操作時間" class="layui-input">
            </div>
        </div>

        <div class="layui-form-item layui-inline">
            <button class="layui-btn layui-btn-primary"><i class="layui-icon">&#xe615;</i> 蒐 索</button>
        </div>
    </form>

</fieldset>

<script>form.render()</script>