<div class="layui-card layui-bg-gray">
    {block name='style'}{/block}

    <style>
        .layui-tab-card>.layui-tab-title .layui-this {
            background-color: #fff;
        }
    </style>
    {notempty name='title'}
    <div class="layui-card-header layui-anim layui-anim-fadein notselect">
        <span class="layui-icon layui-icon-next font-s10 color-desc margin-right-5"></span>{$title|default=''}
        <div class="pull-right">{block name='button'}{/block}</div>
    </div>
    {/notempty}




    <div class="layui-card-body layui-anim layui-anim-upbit">{block name='content'}{/block}</div>
    {block name='script'}{/block}
</div>