<form class="layui-form layui-card" action="{:request()->url()}" data-auto="true" method="post" autocomplete="off">

    <div class="layui-card-body">

        <div class="layui-form-item">
            <label class="layui-form-label">上級選單</label>
            <div class="layui-input-block">
                <select name='pid' class='layui-select full-width' lay-ignore>
                    <!--{foreach $menus as $menu}-->
                    <!--{eq name='menu.id' value='$vo.pid|default=0'}-->
                    <option selected value='{$menu.id}'>{$menu.spl|raw}{$menu.title}</option>
                    <!--{else}-->
                    <option value='{$menu.id}'>{$menu.spl|raw}{$menu.title}</option>
                    <!--{/eq}-->
                    <!--{/foreach}-->
                </select>
                <p class="help-block">必選，請選擇上級選單或頂級選單（現時最多支持三級選單）</p>
            </div>
        </div>

        <div class="layui-form-item">
            <label class="layui-form-label">選單名稱</label>
            <div class="layui-input-block">
                <input name="title" value='{$vo.title|default=""}' required placeholder="請輸入選單名稱" class="layui-input">
                <p class="help-block">必填，請填寫選單名稱（如：系統管理），建議字元不要太長，一般4-6個漢字</p>
            </div>
        </div>

        <div class="layui-form-item">
            <label class="layui-form-label">選單連結</label>
            <div class="layui-input-block">
                <input onblur="this.value=this.value === ''?'#':this.value" name="url" required placeholder="請輸入選單連結" value="{$vo.url|default='#'}" class="layui-input">
                <p class="help-block">
                    必填，請填寫系統節點（如：admin/user/index），節點加入許可權管理時選單才會自動隱藏，非規則內的不會隱藏；
                    <br>正常情况下，在輸入的時候會有自動提示。如果是上級選單時，請填寫“#”符號，不要填寫地址或節點地址
                </p>
            </div>
        </div>

        <div class="layui-form-item">
            <label class="layui-form-label">連結參數</label>
            <div class="layui-input-block">
                <input name="params" placeholder="請輸入連結參數" value="{$vo.params|default=''}" class="layui-input">
                <p class="help-block">可選，設定選單連結的GET訪問參數（如：name=1&age=3）</p>
            </div>
        </div>

        <div class="layui-form-item">
            <label class="layui-form-label">功能表圖示</label>
            <div class="layui-input-block">
                <div class="layui-input-inline">
                    <input placeholder="請輸入或選擇圖標" name="icon" value='{$vo.icon|default=""}' class="layui-input">
                </div>
                <span style="padding:0 12px;min-width:45px" class='layui-btn layui-btn-primary'>
                    <i style="font-size:1.2em;margin:0" class='{$vo.icon|default=""}'></i>
                </span>
                <button data-icon='icon' type='button' class='layui-btn layui-btn-primary'>選擇圖標</button>
                <p class="help-block">可選，設定選單選項前置圖標，現時只支持Font Awesome 5.2.0字體圖標</p>
            </div>
        </div>

    </div>

    <div class="hr-line-dashed"></div>
    {notempty name='vo.id'}<input type='hidden' value='{$vo.id}' name='id'>{/notempty}

    <div class="layui-form-item text-center">
        <button class="layui-btn" type='submit'>確定要删除數據嗎</button>
        <button class="layui-btn layui-btn-danger" type='button' data-confirm="确定要取消编辑吗？" data-close>取消編輯</button>
    </div>

</form>

{block name='script'}
<script>
    require(['jquery.autocompleter'], function () {
        $('[name="icon"]').on('change', function () {
            $(this).parent().next().find('i').get(0).className = this.value
        });
        $('input[name=url]').autocompleter({
            limit: 6, highlightMatches: true, template: '{{ label }} <span> {{ title }} </span>', source: (function (subjects, data) {
                for (var i in subjects) data.push({value: subjects[i].node, label: subjects[i].node, title: subjects[i].title});
                return data;
            })(JSON.parse('{$nodes|raw|json_encode}'), [])
        });
    });
</script>
{/block}
