{extend name='main'}

{block name="button"}

{if auth("add")}
<button data-modal='{:url("add")}' data-title="添加選單" class='layui-btn layui-btn-sm layui-btn-primary'>添加選單</button>
{/if}

{if auth("remove")}
<button data-action='{:url("remove")}' data-csrf="{:systoken('remove')}" data-rule="id#{key}" class='layui-btn layui-btn-sm layui-btn-primary'>删除選單</button>
{/if}

{/block}

{block name="content"}
<div class="think-bg-white">
    {empty name='list'}
    <blockquote class="layui-elem-quote">沒有記錄哦！</blockquote>
    {else}
    <table class="layui-table" lay-skin="line">
        <thead>
        <tr>
            <th class='list-table-check-td think-checkbox'>
                <input data-auto-none data-check-target='.list-check-box' type='checkbox'>
            </th>
            <th class='list-table-sort-td'>
                <button type="button" data-reload class="layui-btn layui-btn-xs">重 繪</button>
            </th>
            <th class='text-center' style="width:30px"></th>
            <th style="width:180px"></th>
            <th class='layui-hide-xs' style="width:180px"></th>
            <th colspan="2"></th>
        </tr>
        </thead>
        <tbody>
        {foreach $list as $key=>$vo}
        <tr data-dbclick>
            <td class='list-table-check-td think-checkbox'>
                <input class="list-check-box" value='{$vo.ids}' type='checkbox'>
            </td>
            <td class='list-table-sort-td'>
                <input data-action-blur="{:request()->url()}" data-value="id#{$vo.id};action#sort;sort#{value}" data-loading="false" value="{$vo.sort}" class="list-sort-input">
            </td>
            <td class='text-center'><i class="{$vo.icon} font-s18"></i></td>
            <td class="nowrap"><span class="color-desc">{$vo.spl|raw}</span>{$vo.title}</td>
            <td class='layui-hide-xs'>{$vo.url}</td>
            <td class='text-center nowrap'>{eq name='vo.status' value='0'}<span class="color-red">已禁用</span>{else}<span class="color-green">使用中</span>{/eq}</td>
            <td class='text-center nowrap notselect'>

                {if auth("add")}
                <span class="text-explode">|</span>
                <!--{if $vo.spt < 2}-->
                <a class="layui-btn layui-btn-xs layui-btn-primary" data-title="添加子功能表" data-modal='{:url("add")}?pid={$vo.id}'>添 加</a>
                <!--{else}-->
                <a class="layui-btn layui-btn-xs layui-btn-disabled">添 加</a>
                <!--{/if}-->
                {/if}

                {if auth("edit")}
                <a data-dbclick class="layui-btn layui-btn-xs" data-title="編輯選單" data-modal='{:url("edit")}?id={$vo.id}'>編 輯</a>
                {/if}

                {if $vo.status eq 1 and auth("forbid")}
                <a class="layui-btn layui-btn-warm layui-btn-xs" data-confirm="確定要禁用選單嗎？" data-action="{:url('forbid')}" data-value="id#{$vo.ids};status#0" data-csrf="{:systoken('forbid')}">禁 用</a>
                {elseif auth("resume")}
                <a class="layui-btn layui-btn-warm layui-btn-xs" data-action="{:url('resume')}" data-value="id#{$vo.ids};status#1" data-csrf="{:systoken('resume')}">啟 用</a>
                {/if}

                {if auth("remove")}
                <a class="layui-btn layui-btn-danger layui-btn-xs" data-confirm="確定要删除數據嗎?" data-action="{:url('remove')}" data-value="id#{$vo.ids}" data-csrf="{:systoken('remove')}">删 除</a>
                {/if}

            </td>
        </tr>
        {/foreach}
        </tbody>
    </table>
    {/empty}
</div>
{/block}
