<form onsubmit="return false;" data-auto="true" action="{:url()}" method="post" class='layui-form layui-card' autocomplete="off">
    <div class="layui-card-body">
        <div class="color-text margin-left-40 margin-bottom-20 layui-code" style="border-left-width:1px;background:none">
            <p class="margin-bottom-5 font-w7">檔案將上傳到阿裡雲OSS空間，需要配寘OSS公開訪問及跨域策略！</p>
            現時已實現自動創建空間及配寘訪問策略！<a target="_blank" href="https://promotion.aliyun.com/ntms/yunparter/invite.html?userCode=08p1pddw">我要免費申請</a>
        </div>
        <div class="layui-form-item">
            <label class="layui-form-label">AllowExts<br><span class="nowrap color-desc">允許類型</span></label>
            <div class="layui-input-block">
                <input type="text" name="storage_local_exts" required value="{:sysconf('storage_local_exts')}" placeholder="請輸入系統文件上傳尾碼" class="layui-input">
                <p class="help-block">設定系統允許上傳文件的尾碼，多個以英文逗號隔開。如：png,jpg,rar,doc</p>
            </div>
        </div>
        <div class="layui-form-item">
            <label class="layui-form-label label-required">Protocol<br><span class="nowrap color-desc">訪問協定</span></label>
            <div class="layui-input-block">
                {foreach ['http','https','auto'] as $pro}
                <label class="think-radio">
                    {if sysconf('storage_oss_is_https') eq $pro}
                    <input checked type="radio" name="storage_oss_is_https" value="{$pro}" lay-ignore> {$pro}
                    {else}
                    <input type="radio" name="storage_oss_is_https" value="{$pro}" lay-ignore> {$pro}
                    {/if}
                </label>
                {/foreach}
                <p class="help-block">阿裡雲對象存儲訪問協定（http、https、auto），其中https需要配寘證書才能使用，auto為相對協定自動根據功能變數名稱切換http與https。</p>
            </div>
        </div>
        <div class="layui-form-item">
            <label class="layui-form-label">Bucket<br><span class="nowrap color-desc">空間名稱</span></label>
            <div class="layui-input-block">
                <input type="text" name="storage_oss_bucket" required value="{:sysconf('storage_oss_bucket')}" placeholder="請輸入OSS Bucket（空間名稱）" class="layui-input">
                <p class="help-block">填寫OSS存儲空間名稱，如：think-admin-oss（需要是全區唯一的值，不存在時會自動創建）</p>
            </div>
        </div>
        <div class="layui-form-item">
            <label class="layui-form-label">EndPoint<br><span class="nowrap color-desc">資料中心</span></label>
            <div class="layui-input-block">
                <select required name="storage_oss_endpoint" class="layui-select" lay-search>
                    {foreach $ossPoints as $k=>$p}
                    {if sysconf('storage_oss_endpoint') eq $k}
                    <option selected value="{$k}">{$p} <span class="font-s10 color-desc">({$k})</span></option>
                    {else}
                    <option value="{$k}">{$p} <span class="font-s10 color-desc">({$k})</span></option>
                    {/if}
                    {/foreach}
                </select>
                <p class="help-block">請選擇OSS資料中心訪問節點，有效值如：oss-cn-shenzhen.aliyuncs.com</p>
            </div>
        </div>
        <div class="layui-form-item">
            <label class="layui-form-label">AccessKey<br><span class="nowrap color-desc">訪問金鑰</span></label>
            <div class="layui-input-block">
                <input type="text" name="storage_oss_keyid" required value="{:sysconf('storage_oss_keyid')}" maxlength="16" placeholder="請輸入OSS AccessKey（訪問金鑰）" class="layui-input">
                <p class="help-block">可以在[阿裡雲>個人中心] 設定並獲取到訪問金鑰。</p>
            </div>
        </div>
        <div class="layui-form-item">
            <label class="layui-form-label">SecretKey<br><span class="nowrap color-desc">安全金鑰</span></label>
            <div class="layui-input-block">
                <input type="text" name="storage_oss_secret" required value="{:sysconf('storage_oss_secret')}" maxlength="30" placeholder="請輸入OSS SecretKey（安全金鑰）" class="layui-input">
                <p class="help-block">可以在[阿裡雲>個人中心]設定並獲取到安全金鑰。</p>
            </div>
        </div>
        <div class="layui-form-item">
            <label class="layui-form-label">Domain<br><span class="nowrap color-desc">訪問功能變數名稱</span></label>
            <div class="layui-input-block">
                <input type="text" name="storage_oss_domain" value="{:sysconf('storage_oss_domain')}" placeholder="請輸入OSS存儲Domain（訪問功能變數名稱）" class="layui-input">
                <p class="help-block">填寫OSS存儲外部訪問功能變數名稱，如：think-admin-oss.oss-cn-shenzhen.aliyuncs.com（正常情况下是自動獲取的）</p>
            </div>
        </div>
        <div class="hr-line-dashed margin-left-40"></div>
        <div class="layui-form-item text-center padding-left-40">
            <input type="hidden" name="storage_type" value="oss">
            <button class="layui-btn" type="submit">保存配寘</button>
            <button class="layui-btn layui-btn-danger" type='button' data-confirm="確定要取消修改嗎？" data-close>取消修改</button>
        </div>
    </div>
    <script>form.render()</script>
</form>
