<form onsubmit="return false;" data-auto="true" action="{:url()}" method="post" class='layui-form layui-card' autocomplete="off">
    <div class="layui-card-body">
        <div class="color-text margin-left-40 margin-bottom-20 layui-code" style="border-left-width:1px;background:none">
            <p>檔案將存儲在本地服務器，需確保服務器的public/upload目錄有寫入許可權，有足够的存儲空間！</p>
        </div>
        <div class="layui-form-item">
            <label class="layui-form-label">AllowExts<br><span class="nowrap color-desc">允許類型</span></label>
            <div class="layui-input-block">
                <input type="text" name="storage_local_exts" required value="{:sysconf('storage_local_exts')}" placeholder="請輸入系統文件上傳尾碼" class="layui-input">
                <p class="help-block">設定系統允許上傳文件的尾碼，多個以英文逗號隔開。如：png,jpg,rar,doc</p>
            </div>
        </div>
        <div class="hr-line-dashed margin-left-40"></div>
        <div class="layui-form-item text-center padding-left-40">
            <input type="hidden" name="storage_type" value="local">
            <button class="layui-btn" type="submit">保存配寘</button>
            <button class="layui-btn layui-btn-danger" type='button' data-confirm="確定要取消修改嗎？" data-close>取消修改</button>
        </div>
    </div>
</form>