<form onsubmit="return false" data-auto="true" action="{:url()}" method="post" class='layui-form layui-card' autocomplete="off">
    <div class="layui-card-body">
        <div class="color-text margin-left-40 margin-bottom-20 layui-code" style="border-left-width:1px;background:none">
            <p class="margin-bottom-5 font-w7">檔案將上傳到七牛雲存儲，對象存儲需要配寘為公開訪問的Bucket空間！</p>
            完成實名認證後可獲得10G免費存儲空間哦！<a target="_blank" href="https://portal.qiniu.com/signup?code=3lhz6nmnwbple">我要免費申請</a>
        </div>
        <div class="layui-form-item">
            <label class="layui-form-label">AllowExts<br><span class="nowrap color-desc">允許類型</span></label>
            <div class="layui-input-block">
                <input type="text" name="storage_local_exts" required value="{:sysconf('storage_local_exts')}" placeholder="請輸入系統文件上傳尾碼" class="layui-input">
                <p class="help-block">設定系統允許上傳文件的尾碼，多個以英文逗號隔開。如：png,jpg,rar,doc</p>
            </div>
        </div>
        <div class="layui-form-item" data-storage-type="qiniu">
            <label class="layui-form-label label-required">Protocol<br><span class="nowrap color-desc">訪問協定</span></label>
            <div class="layui-input-block">
                {foreach ['http','https','auto'] as $pro}
                <label class="think-radio">
                    {if sysconf('storage_qiniu_is_https') eq $pro}
                    <input checked type="radio" name="storage_qiniu_is_https" value="{$pro}" lay-ignore> {$pro}
                    {else}
                    <input type="radio" name="storage_qiniu_is_https" value="{$pro}" lay-ignore> {$pro}
                    {/if}
                </label>
                {/foreach}
                <p class="help-block">七牛雲存儲訪問協定，其中https需要配寘證書才能使用，auto為相對協定。</p>
            </div>
        </div>
        <div class="layui-form-item" data-storage-type="qiniu">
            <label class="layui-form-label">Region<br><span class="nowrap color-desc label-required">存儲區域</span></label>
            <div class="layui-input-block">
                {foreach ['華東'，'華北'，'華南'，'北美'] as $area}
                <label class="think-radio">
                    {if sysconf('storage_qiniu_region') eq $area}
                    <input checked type="radio" name="storage_qiniu_region" value="{$area}" lay-ignore>
                    {else}
                    <input type="radio" name="storage_qiniu_region" value="{$area}" lay-ignore>
                    {/if}
                    {$area}
                </label>
                {/foreach}
                <p class="help-block">七牛雲存儲空間所在區域，需要嚴格對應儲存所在區域才能上傳文件。</p>
            </div>
        </div>
        <div class="layui-form-item" data-storage-type="qiniu">
            <label class="layui-form-label">Bucket<br><span class="nowrap color-desc">空間名稱</span></label>
            <div class="layui-input-block">
                <input type="text" name="storage_qiniu_bucket" required value="{:sysconf('storage_qiniu_bucket')}" placeholder="請輸入七牛雲存儲Bucket（空間名稱）" class="layui-input">
                <p class="help-block">填寫七牛雲存儲空間名稱，如：static</p>
            </div>
        </div>
        <div class="layui-form-item" data-storage-type="qiniu">
            <label class="layui-form-label">Domain<br><span class="nowrap color-desc">訪問功能變數名稱</span></label>
            <div class="layui-input-block">
                <input type="text" name="storage_qiniu_domain" required value="{:sysconf('storage_qiniu_domain')}" placeholder="請輸入七牛雲存儲Domain（訪問功能變數名稱）" class="layui-input">
                <p class="help-block">填寫七牛雲存儲訪問功能變數名稱，如：static.ctolog.cc</p>
            </div>
        </div>
        <div class="layui-form-item" data-storage-type="qiniu">
            <label class="layui-form-label">AccessKey<br><span class="nowrap color-desc">訪問金鑰</span></label>
            <div class="layui-input-block">
                <input type="text" name="storage_qiniu_access_key" required value="{:sysconf('storage_qiniu_access_key')}" placeholder="請輸入七牛雲AccessKey（訪問金鑰）" class="layui-input">
                <p class="help-block">可以在[七牛雲>個人中心]設定並獲取到訪問金鑰。</p>
            </div>
        </div>
        <div class="layui-form-item" data-storage-type="qiniu">
            <label class="layui-form-label">SecretKey<br><span class="nowrap color-desc">安全金鑰</span></label>
            <div class="layui-input-block">
                <input type="text" name="storage_qiniu_secret_key" required value="{:sysconf('storage_qiniu_secret_key')}" maxlength="43" placeholder="請輸入七牛雲SecretKey（安全金鑰）" class="layui-input">
                <p class="help-block">可以在[七牛雲>個人中心]設定並獲取到安全金鑰。</p>
            </div>
        </div>
        <div class="hr-line-dashed margin-left-40"></div>
        <div class="layui-form-item text-center padding-left-40">
            <input type="hidden" name="storage_type" value="qiniu">
            <button class="layui-btn" type="submit">保存配寘</button>
            <button class="layui-btn layui-btn-danger" type='button' data-confirm="確定要取消修改嗎？" data-close>取消修改</button>
        </div>
    </div>
</form>