<form onsubmit="return false" data-auto="true" action="{:url()}" method="post" class='layui-form layui-card' autocomplete="off">
    <div class="layui-card-body padding-left-40">

        <div class="layui-form-item">
            <label class="relative block">
                <span class="color-green font-w7">網站名稱 Website</span>
                <input name="site_name" required placeholder="請輸入網站名稱" value="{:sysconf('site_name')}" class="layui-input">
            </label>
            <p class="help-block">網站名稱，將在瀏覽器的標籤上顯示名稱</p>
        </div>
        <div class="layui-form-item">
            <label class="relative block">
                <span class="color-green font-w7">管理程式名稱 Name</span>
                <input name="app_name" required placeholder="請輸入程式名稱" value="{:sysconf('app_name')}" class="layui-input">
            </label>
            <p class="help-block">管理程式名稱，在後臺左上角標題處理顯示</p>
        </div>
        <div class="layui-form-item">
            <label class="relative block">
                <span class="color-green font-w7">管理程式版本 Version</span>
                <input name="app_version" placeholder="請輸入程式版本" value="{:sysconf('app_version')}" class="layui-input">
            </label>
            <p class="help-block">管理程式版本，在後臺左上角標題處理顯示</p>
        </div>
        <div class="layui-form-item">
            <span class="color-green font-w7">瀏覽器圖標 Browser</span>
            <div class="relative block">
                <img alt="icon" data-tips-image style="height:auto;max-height:42px;min-width:42px" src="{:sysconf('site_icon')}"/>
                <input type="hidden" name="site_icon" onchange="$(this).prev('img').attr('src', this.value)" value="{:sysconf('site_icon')}" class="layui-input">
                <a class="margin-left-10" data-file="btn" data-type="ico,png" data-field="site_icon">上傳圖片</a>
                <p class="help-block">建議上傳ICO圖標的尺寸為128x128 <a href="http://www.favicon-icon-generator.com" target="_blank">ICON線上製作</a></p>
            </div>
        </div>
        <div class="layui-form-item">
            <label class="relative block">
                <span class="color-green font-w7">網站備案號 Miitbeian</span>
                <input name="miitbeian" required placeholder="請輸入網站備案號" value="{:sysconf('miitbeian')}" class="layui-input">
            </label>
            <p class="help-block">站備案號，可以在<a target="_blank" href="http://beian.miit.gov.cn">備案管理中心</a>査詢獲取，將在登入頁面下麵顯示</p>
        </div>
        <div class="layui-form-item">
            <label class="relative block">
                <span class="color-green font-w7">網站版權資訊 Copyright</span>
                <input name="site_copy" required placeholder="請輸入版權資訊" value="{:sysconf('site_copy')}" class="layui-input">
            </label>
            <p class="help-block">網站版權資訊，在後臺登入頁面顯示版本資訊並連結到備案到資訊備案管理系統</p>
        </div>

        <div class="hr-line-dashed"></div>

        <div class="layui-form-item text-center">
            <button class="layui-btn" type="submit">保存配寘</button>
            <button class="layui-btn layui-btn-danger" type='button' data-confirm="確定要取消修改嗎？" data-close>取消修改</button>
        </div>
    </div>

</form>