<form class="layui-form layui-card" action="{:request()->url()}" data-auto="true" method="post" autocomplete="off">
    <div class="layui-card-body">
        <div class="layui-form-item">
            <label class="layui-form-label">用戶名稱</label>
            <div class="layui-input-block">
                <input name="user_name" placeholder="請輸入用戶名" class="layui-input">
                {:token()}
            </div>
        </div>
        <div class="layui-form-item">
            <label class="layui-form-label label-required">手機號碼</label>
            <div class="layui-input-block">
                <input name="tel" required placeholder="請輸入手機號碼" class="layui-input">
            </div>
        </div>
        <div class="layui-form-item">
            <label class="layui-form-label label-required">登入密碼</label>
            <div class="layui-input-block">
                <input name="pwd" required placeholder="請輸入登入密碼" class="layui-input">
            </div>
        </div>
        <div class="layui-form-item">
            <label class="layui-form-label">上級ID</label>
            <div class="layui-input-block">
                <input name="parent_id" placeholder="請輸入上級ID" class="layui-input">
            </div>
        </div>

    </div>

    <div class="hr-line-dashed"></div>

    <div class="layui-form-item text-center">
        <button class="layui-btn" type='submit'>提交</button>
        <button class="layui-btn layui-btn-danger" type='button' data-close>取消</button>
    </div>

    <script>window.form.render();</script>

</form>
