{extend name='main'}


{block name="content"}

<div class="think-box-shadow">

    <div class="layui-card-header layui-anim layui-anim-fadein notselect">
        <span class="layui-icon layui-icon-next font-s10 color-desc margin-right-5"></span>
        當前用戶: {$uinfo.username}({$uinfo.tel})
        <div class="pull-right"></div></div>


    {if auth("open") }
    <div class="layui-form-item layui-inline" style="margin-right: 10px">
        <a class="layui-btn layui-btn-sm layui-btn-normal" data-open="{:url('index')}" data-reload="true"  data-csrf="{:systoken('index')}">返回會員列表</a>
    </div>
    {/if}

    <fieldset>
        <legend>條件蒐索</legend>
        <form class="layui-form layui-form-pane form-search" action="{:request()->url()}" onsubmit="return false" method="get" autocomplete="off">
            <div class="layui-form-item layui-inline">
                <label class="layui-form-label">類型</label>
                <div class="layui-input-inline">
                    <select name="type" id="selectList">
                        <option value="">所有狀態</option>
                        <option value="-1">系統</option>
                        <option value="1">充值</option>
                        <option value="2">交易</option>
                        <option value="3">返傭</option>
                        <option value="4">強制交易</option>
                        <option value="5">推廣返傭</option>
                        <option value="6">下級交易返傭</option>
                        <option value="7">利息寶</option>
                    </select>
                </div>
            </div>
            <div class="layui-form-item layui-inline">
                <label class="layui-form-label">發生時間</label>
                <div class="layui-input-inline">
                    <input data-date-range name="addtime" value="{$Think.get.addtime|default=''}" placeholder="請選擇註冊時間" class="layui-input">
                </div>
            </div>


            <div class="layui-form-item layui-inline">
                <button class="layui-btn layui-btn-primary"><i class="layui-icon">&#xe615;</i> 蒐 索</button>
            </div>
        </form>
    </fieldset>

    <div class="layui-tab">
        <ul class="layui-tab-title">
            <li class="layui-this">Ta的財務記錄</li>

        </ul>
        <div class="layui-tab-content">
            <div class="layui-tab-item layui-show">
                <table id="demo0" lay-filter="test1"></table>
            </div>


        </div>
    </div>

    <script>
        $(function () {
            var table = layui.table;

            //第一个实例
            table.render({
                elem: '#demo0'
                ,where: {
                    iasjax:1,
                    level:1,
                    addtime:"{$Think.get.addtime}",
                    type:"{$Think.get.type}",
                    id:{$uid}
                }
                ,height: 512
                ,totalRow: true
                ,url: '/admin/users/caiwu' //数据接口
                ,page: true //开启分页
                ,cols: [[ //表头
                    {field: 'id', title: 'ID', width:100, sort: true, fixed: 'left'}
                    ,{field: 'tel', title: '帳號',totalRowText: '合計' }
                    ,{field: 'oid', title: '訂單編號',sort: true}
                    ,{field: 'num', title: '金額',sort: true,totalRow: true}
                    ,{field: 'type', title: '類型'}
                    ,{field: 'status', title: '狀態' }
                    ,{field: 'addtime', title: '發生時間',width:150 }
                ]]
            });

        })
    </script>
    <script>
        var test = "{$Think.get.type|default='0'}";
        $("#selectList").find("option[value="+test+"]").prop("selected",true);
        form.render()
    </script>


</div>
{/block}
