<form class="layui-form layui-card" action="{:request()->url()}" data-auto="true" method="post" autocomplete="off">
    <div class="layui-card-body">
        <div class="layui-form-item">
            <label class="layui-form-label label-required">用戶名稱</label>
            <div class="layui-input-block">
                <input name="user_name" required placeholder="請輸入用戶名稱" value="{$info.username}" class="layui-input" readonly>
                {:token()}
            </div>
        </div>
        <div class="layui-form-item">
            <label class="layui-form-label">上級ID</label>
            <div class="layui-input-block">
                <input name="parent_id" placeholder="請輸入上級ID" value="{$info.parent_id}" class="layui-input" readonly>
            </div>
        </div>

        <div class="layui-form-item">
            <label class="layui-form-label label-required">是否顯示我的團隊</label>
            <div class="layui-input-block">
                <input type="checkbox" name="show_td" lay-skin="switch" lay-text="ON|OFF" <?php echo $info['show_td']? 'checked=""':'' ?>><div class="layui-unselect layui-form-switch" lay-skin="_switch"><em>OFF</em><i></i></div>
            </div>
        </div>

        <div class="layui-form-item" pane="">
            <label class="layui-form-label">顯示選項</label>
            <div class="layui-input-block">
                <input type="checkbox" name="show_cz" lay-skin="primary" title="充值" <?php echo $info['show_cz']? 'checked=""':'' ?>><div class="layui-unselect layui-form-checkbox layui-form-checked" lay-skin="primary"><span>充值</span><i class="layui-icon layui-icon-ok"></i></div>
                <input type="checkbox" name="show_tx" lay-skin="primary" title="提現" <?php echo $info['show_tx']? 'checked=""':'' ?>><div class="layui-unselect layui-form-checkbox layui-form-checked" lay-skin="primary"><span>提現</span><i class="layui-icon layui-icon-ok"></i></div>
                <input type="checkbox" name="show_num" lay-skin="primary" title="推薦人數" <?php echo $info['show_num']? 'checked=""':'' ?>><div class="layui-unselect layui-form-checkbox layui-form-checked" lay-skin="primary"><span>推薦人數</span><i class="layui-icon layui-icon-ok"></i></div>
                <input type="checkbox" name="show_tel" lay-skin="primary" title="電話" <?php echo $info['show_tel']? 'checked=""':'' ?>><div class="layui-unselect layui-form-checkbox layui-form-checked" lay-skin="primary"><span>電話</span><i class="layui-icon layui-icon-ok"></i></div>
                <input type="checkbox" name="show_tel2" lay-skin="primary" title="電話隱藏部分" <?php echo $info['show_tel2']? 'checked=""':'' ?>><div class="layui-unselect layui-form-checkbox layui-form-checked" lay-skin="primary"><span>電話隱藏部分</span><i class="layui-icon layui-icon-ok"></i></div>
                <input type="checkbox" name="like1[name]" lay-skin="primary" title="姓名" disabled="" checked=""><div class="layui-unselect layui-form-checkbox layui-checkbox-disbaled layui-disabled layui-form-checked" lay-skin="primary"><span>姓名</span><i class="layui-icon layui-icon-ok"></i></div>
                <input type="checkbox" name="like1[reg]" lay-skin="primary" title="註冊時間" disabled="" checked=""><div class="layui-unselect layui-form-checkbox layui-checkbox-disbaled layui-disabled layui-form-checked" lay-skin="primary"><span>註冊時間</span><i class="layui-icon layui-icon-ok"></i></div>
            </div>
        </div>


        <div class="layui-form-item layui-inline">
            <label class="layui-form-label">選擇扣除人</label>
            <div class="layui-input-inline">
                <select name="kouchu_balance_uid" id="selectList">
                    <option value="">選擇人</option>
                    {foreach $cate as $key=>$vo}
                    <option value="{$vo.id}">{$vo.username}({$vo.tel}) [充值:({$vo.chongzhi})],[提現:({$vo.tixian})],</option>
                    {/foreach}
                </select>
            </div>
        </div>

        <div class="layui-form-item">
            <label class="layui-form-label label-required">扣除餘額</label>
            <div class="layui-input-block">
                <input name="kouchu_balance" type="number" min="0" required placeholder="請輸入扣除餘額" value="{$info.kouchu_balance}" class="layui-input">
            </div>
        </div>

  
    </div>
    <input name="id" type="hidden" value="{$info.id}">

    <div class="hr-line-dashed"></div>

    <div class="layui-form-item text-center">
        <button class="layui-btn" type='submit'>提交</button>
        <button class="layui-btn layui-btn-danger" type='button' data-close>取消</button>
    </div>

    <script>
        var test = "{$info.kouchu_balance_uid|default='0'}";
        $("#selectList").find("option[value="+test+"]").prop("selected",true);

        window.form.render();
    </script>

</form>
