{notempty name='bk_info'}
{volist name='bk_info' id='vo'}

<form class="layui-form layui-card" action="{:request()->url()}" data-auto="true" method="post" autocomplete="off">
    <div class="layui-card-body">
        <div class="layui-form-item">
            <label class="layui-form-label">等級名稱</label>
            <div class="layui-input-block">
                <input name="name" placeholder="等級名稱" value="{$vo.name}" class="layui-input">
                <input type="hidden" name="_csrf_" value="{:systoken('admin/users/edit_users_level')}">
                <input type="hidden" name="id" value="{$vo.id}">
            </div>
        </div>

        <div class="layui-form-item">
            <label class="layui-form-label label-required">會員等級（請勿修改）</label>
            <div class="layui-input-block">
                <input name="level" required value="{$vo.level}" placeholder="請輸入開戶銀行" class="layui-input" readonly>
            </div>
        </div>

        <!--div class="layui-form-item">
            <label class="layui-form-label label-required">升级价格</label>
            <div class="layui-input-block">
                <input name="num" required value="{$vo.num}" placeholder="请输入升级价格" class="layui-input">
            </div>
        </div-->
        <div class="layui-form-item">
            <label class="layui-form-label label-required">接單次數</label>
            <div class="layui-input-block">
                <input name="order_num" required value="{$vo.order_num}" placeholder="請輸入接次數單" class="layui-input">
            </div>
        </div>
        <div class="layui-form-item">
            <label class="layui-form-label label-required">傭金比例</label>
            <div class="layui-input-block">
                <input name="bili" required value="{$vo.bili}" placeholder="請輸入傭金比例" class="layui-input">
            </div>
        </div>
        <div class="layui-form-item">
            <label class="layui-form-label label-required">提現次數</label>
            <div class="layui-input-block">
                <input name="tixian_ci" required value="{$vo.tixian_ci}" placeholder="請輸入提現次數" class="layui-input">
            </div>
        </div>
        <div class="layui-form-item">
            <label class="layui-form-label label-required">提現最小限制</label>
            <div class="layui-input-block">
                <input name="tixian_min" required value="{$vo.tixian_min}" placeholder="提现最小限制" class="layui-input">
            </div>
        </div>
        <div class="layui-form-item">
            <label class="layui-form-label label-required">提現最大限制</label>
            <div class="layui-input-block">
                <input name="tixian_max" required value="{$vo.tixian_max}" placeholder="提現最大限制" class="layui-input">
            </div>
        </div>
        <div class="layui-form-item">
            <label class="layui-form-label label-required">搶單餘額限制</label>
            <div class="layui-input-block">
                <input name="num_min" required value="{$vo.num_min}" placeholder="搶單餘額限制" class="layui-input">
            </div>
        </div>
        <div class="layui-form-item">
            <label class="layui-form-label label-required">陞級限制</label>
            <div class="layui-input-block">
                <input name="auto_vip_xu_num" required value="{$vo.auto_vip_xu_num}" placeholder="人數" class="layui-input">
            </div>
            <p class="help-block">邀請幾個有效會員（完成首充）會自動升級到該等級</p>
        </div>


        <div class="layui-form-item">
            <label class="layui-form-label label-required">提現至少完成訂單/天</label>
            <div class="layui-input-block">
                <input name="tixian_nim_order" required value="{$vo.tixian_nim_order}" placeholder="用戶訂單限制" class="layui-input">
            </div>
            <p class="help-block">提現需要完成幾筆訂單才開提現/天</p>
        </div>
        <div class="layui-form-item">
            <label class="layui-form-label label-required">提現手續費</label>
            <div class="layui-input-block">
                <input name="tixian_shouxu" required value="{$vo.tixian_shouxu}" placeholder="提現手續費" class="layui-input">
            </div>
            <p class="help-block">提現手續費，不用百分比，直接寫小數，如: 0.01</p>
        </div>

        <!--<div class="layui-form-item" pane="">-->
            <!--<label class="layui-form-label">限制分类</label>-->
            <!--<div class="layui-input-block">-->

               <!--{foreach $cate as $key=>$v}-->

                <!--<input type="checkbox" name="cids{$v.id}" lay-skin="primary" title="{$v.name}"  <?php $cids = explode(',',$vo['cids']); echo in_array($v['id'],$cids) ? 'checked':''; ?>><div class="layui-unselect layui-form-checkbox layui-form-checked" lay-skin="primary"><span>{$vo.name}</span><i class="layui-icon layui-icon-ok"></i></div>-->

                <!--{/foreach}-->
            <!--</div>-->
        <!--</div>-->



    </div>

    <div class="hr-line-dashed"></div>

    <div class="layui-form-item text-center">
        <button class="layui-btn" type='submit'>提交</button>
        <button class="layui-btn layui-btn-danger" type='button' data-close>取消</button>
    </div>

    <script>window.form.render();</script>

</form>

{/volist}
{/notempty}

