<form class="layui-form layui-card">
    <div class="layui-card-body">
        <div class="layui-form-item">
            <label class="layui-form-label label-required">總代用戶名</label>
            <div class="layui-input-block">
                <input name="user_name" required placeholder="請輸入總代用戶名" value="" class="layui-input">
                <button>檢查用戶是否存在</button>
                <input type="hidden" name="_csrf_" value="">
            </div>
        </div>

    <input name="id" type="hidden" value="">

    <div class="hr-line-dashed"></div>

    <div class="layui-form-item text-center">
        <button class="layui-btn save" type='button'>提交</button>
        <button class="layui-btn layui-btn-danger" type='button' data-close>取消</button>
    </div>

    <script>window.form.render();</script>

</form>

<script>
    $(function(){
        $('.save').click(function(){
            console.log(1);
            $.ajax({
               url:'{:url("admin/users/edit_all_parent_name_save")}',
               data: $('form').serialize(),
               datatype: 'json',
               type: 'post',
               success: function($res){
                   
               }
            });
        })
    })
</script>