<form class="layui-form layui-card" action="{:request()->url()}" data-auto="true" method="post" autocomplete="off">
    <div class="layui-card-body">
        <div class="layui-form-item">
            <label class="layui-form-label label-required">用戶名稱</label>
            <div class="layui-input-block">
                <input name="user_name" required placeholder="請輸入用戶名稱" value="{$info.username}" class="layui-input">
                <input type="hidden" name="_csrf_" value="{:systoken('admin/users/edit_users')}">

            </div>
        </div>

        <div class="layui-form-item">
            <label class="layui-form-label label-required">手機號碼</label>
            <div class="layui-input-block">
                <input name="tel" required placeholder="請輸入手機號碼" value="{$info.tel}" class="layui-input">
            </div>
        </div>

        <div class="layui-form-item">
            <label class="layui-form-label label-required">本金餘額</label>
            <div class="layui-input-block">
                <input name="balance" type="number" min="0" required placeholder="請輸入本金餘額" value="{$info.balance}" class="layui-input">
            </div>
        </div>
        
        <div class="layui-form-item">
            <label class="layui-form-label label-required">靜態餘額</label>
            <div class="layui-input-block">
                <input name="jing_balance" type="number" min="0" required placeholder="請輸入靜態餘額" value="{$info.jing_balance}" class="layui-input">
            </div>
        </div>
        
        <div class="layui-form-item">
            <label class="layui-form-label label-required">動態餘額</label>
            <div class="layui-input-block">
                <input name="dong_balance" type="number" min="0" required placeholder="請輸入動態餘額" value="{$info.dong_balance}" class="layui-input">
            </div>
        </div>

        <div class="layui-form-item">
            <label class="layui-form-label label-required">凍結金額</label>
            <div class="layui-input-block">
                <input name="freeze_balance" type="number" min="0" required placeholder="凍結金額" value="{$info.freeze_balance}" class="layui-input">
            </div>
        </div>

        <div class="layui-form-item">
            <label class="layui-form-label label-required">會員等級</label>
            <div class="layui-input-block">
                <select name="level" id="selectList">
                    {foreach $level as $key=>$vo}
                    <option value="{$vo.level}" <?php echo $info['level']==$vo['level'] ? 'selected': ''; ?> >{$vo.name}</option>
                    {/foreach}
                </select>
                <!--<input name="freeze_balance" type="number" min="0" required placeholder="冻结金额" value="{$info.freeze_balance}" class="layui-input">-->
            </div>
        </div>

        <div class="layui-form-item">
            <label class="layui-form-label label-required">交易狀態</label>
            <div class="layui-input-block">
                <select name="deal_status" id="selectList">

                    <option value="1" <?php echo $info['deal_status']==1 ? 'selected': ''; ?> >正常</option>
                    <option value="3" <?php echo $info['deal_status']==3 ? 'selected': ''; ?> >凍結</option>

                </select>
                <!--<input name="freeze_balance" type="number" min="0" required placeholder="冻结金额" value="{$info.freeze_balance}" class="layui-input">-->
            </div>
        </div>

        <div class="layui-form-item">
            <label class="layui-form-label">登入密碼</label>
            <div class="layui-input-block">
                <input name="pwd" placeholder="留空不修改密碼" class="layui-input">
            </div>
        </div>


        <div class="layui-form-item">
            <label class="layui-form-label">交易密碼</label>
            <div class="layui-input-block">
                <input name="pwd2" placeholder="留空不修改交易密碼" class="layui-input">
            </div>
        </div>
        <div class="layui-form-item">
            <label class="layui-form-label">上級ID</label>
            <div class="layui-input-block">
                <input name="parent_id" placeholder="請輸入上級ID" value="{$info.parent_id}" class="layui-input">
            </div>
        </div>

    </div>
    <input name="id" type="hidden" value="{$info.id}">

    <div class="hr-line-dashed"></div>

    <div class="layui-form-item text-center">
        <button class="layui-btn" type='submit'>提交</button>
        <button class="layui-btn layui-btn-danger" type='button' data-close>取消</button>
    </div>

    <script>window.form.render();</script>

</form>
