{volist name='bk_info' id='vo'}

<form class="layui-form layui-card" action="{:request()->url()}" data-auto="true" method="post" autocomplete="off">
    <div class="layui-card-body">
        <div class="layui-form-item">
            <label class="layui-form-label">收貨姓名</label>
            <div class="layui-input-block">
                <input name="name" placeholder="請輸入收貨姓名" value="{$vo.name}" class="layui-input">
                <input type="hidden" name="_csrf_" value="{:systoken('admin/users/edit_users_address')}">
                <input type="hidden" name="id" value="{$vo.id}">
            </div>
        </div>
        <div class="layui-form-item">
            <label class="layui-form-label label-required">收貨手機</label>
            <div class="layui-input-block">
                <input name="tel" required value="{$vo.tel}" placeholder="請輸入收貨手機" class="layui-input">
            </div>
        </div>
        <div class="layui-form-item">
            <label class="layui-form-label label-required">詳細地址</label>
            <div class="layui-input-block">
                <input name="address" required value="{$vo.address}" placeholder="請輸入詳細地址" class="layui-input">
            </div>
        </div>
    </div>

    <div class="hr-line-dashed"></div>

    <div class="layui-form-item text-center">
        <button class="layui-btn" type='submit'>提交</button>
        <button class="layui-btn layui-btn-danger" type='button' data-close>取消</button>
    </div>

    <script>window.form.render();</script>

</form>

{/volist}

