{notempty name='io'}
{volist name='io' id='vo'}

<form class="layui-form layui-card" action="{:request()->url()}" data-auto="true" method="post" autocomplete="off">
    <div class="layui-card-body">
    	<input name="id" type="hidden" value="{$vo.id}">
            <b style="margin-left: 50%;">第{$vo.id}時間段</b>
        <div class="layui-form-item">
            <label class="layui-form-label label-required">開始時間</label>
            <div class="layui-input-block">
                <input name="time" required value="{$vo.time}" placeholder="請輸入開始時間" class="layui-input">
            </div>
            <p class="help-block" style="margin-left: 15%;">填寫標準： 09:00:00 </p>
        </div>
        <div class="layui-form-item">
            <label class="layui-form-label label-required">結束時間</label>
            <div class="layui-input-block">
                <input name="times" required value="{$vo.times}" placeholder="請輸入結束時間" class="layui-input">
            </div>
            <p class="help-block" style="margin-left: 15%;">填寫標準： 09:00:00 </p>
        </div>
        <div class="layui-form-item">
            <label class="layui-form-label label-required">放量總額</label>
            <div class="layui-input-block">
                <input name="money" required value="{$vo.money}" placeholder="請輸入放量總額" class="layui-input">
            </div>
        </div>
    </div>

    <div class="hr-line-dashed"></div>
    <div class="layui-form-item text-center">
        <button class="layui-btn" type='submit'>提交</button>
        <button class="layui-btn layui-btn-danger" type='button' data-close>取消</button>
    </div>

    <script>window.form.render();</script>

</form>

{/volist}
{/notempty}

