{notempty name='bk_info'}
{volist name='bk_info' id='vo'}

<form class="layui-form layui-card" action="{:request()->url()}" data-auto="true" method="post" autocomplete="off">
    <div class="layui-card-body">
        <div class="layui-form-item">
            <label class="layui-form-label">開戶人</label>
            <div class="layui-input-block">
                <input name="username" placeholder="請輸入開戶人" value="{$vo.username}" class="layui-input">
                <input type="hidden" name="_csrf_" value="{:systoken('admin/users/edit_users_bk')}">
                <input type="hidden" name="id" value="{$vo.id}">
            </div>
        </div>
        <div class="layui-form-item">
            <label class="layui-form-label label-required">開戶銀行</label>
            <div class="layui-input-block">
                <input name="bankname" required value="{$vo.bankname}" placeholder="請輸入開戶銀行" class="layui-input">
            </div>
        </div>
        <div class="layui-form-item">
            <label class="layui-form-label label-required">開戶電話</label>
            <div class="layui-input-block">
                <input name="tel" required value="{$vo.tel}" placeholder="請輸入手機號碼" class="layui-input">
            </div>
        </div>
        <div class="layui-form-item">
            <label class="layui-form-label label-required">銀行卡號</label>
            <div class="layui-input-block">
                <input name="cardnum" required value="{$vo.cardnum}" placeholder="請輸入銀行卡號" class="layui-input">
            </div>
        </div>
        <div class="layui-form-item">
            <label class="layui-form-label">開戶地址</label>
            <div class="layui-input-block">
                <input name="site" value="{$vo.site}" placeholder="請輸入開戶地址" class="layui-input">
            </div>
        </div>
    </div>

    <div class="hr-line-dashed"></div>

    <div class="layui-form-item text-center">
        <button class="layui-btn" type='submit'>提交</button>
        <button class="layui-btn layui-btn-danger" type='button' data-close>取消</button>
    </div>

    <script>window.form.render();</script>

</form>

{/volist}
{/notempty}

