{extend name='main'}

{block name="button"}

{if auth("add_users")}
<button data-modal='{:url("add_users")}' data-title="添加会员" class='layui-btn'>添加會員</button>
{/if}

{/block}

{block name="content"}

<div class="think-box-shadow">
    {include file='users/index_search'}
    <table class="layui-table margin-top-15" lay-filter="tab" lay-skin="line">
        {notempty name='list'}
        <thead>
        <tr>
            <th lay-data="{field:'id',width:80}" class='text-left nowrap'>ID</th>
            <th lay-data="{field:'tel'}" class='text-left nowrap'>帳號</th>
            <th lay-data="{field:'username'}" class='text-left nowrap'>用戶名</th>
            <th lay-data="{field:'balance'}" class='text-left nowrap'>本金餘額</th>
            <th lay-data="{field:'jing_balance'}" class='text-left nowrap'>盈利餘額</th>
            <th lay-data="{field:'freeze_balance'}" class='text-left nowrap'>靜態收益</th>
            <th lay-data="{field:'lixibao_balance'}" class='text-left nowrap'>利息寶金額</th>
            <th lay-data="{field:'parent_name'}" class='text-left nowrap'>上級用戶</th>
            <th lay-data="{field:'all_parent_name'}" class='text-left nowrap'>總代理</th>
            <th lay-data="{field:'invite_code'}" class='text-left nowrap'>邀請碼</th>
            <th lay-data="{field:'level'}" class='text-left nowrap'>等级</th>
            <th lay-data="{field:'addtime',width:200}" class='text-left nowrap'>註冊時間</th>
            <th lay-data="{field:'ip'}" class='text-left nowrap'>最後登錄ip</th>
            <th lay-data="{field:'is_jia',width:80}" class='text-left nowrap'>狀態</th>
            <th lay-data="{field:'edit',width:280,fixed: 'right'}" class='text-left nowrap'>操作</th>
        </tr>
        </thead>
        {/notempty}
        <tbody>
        {foreach $list as $key=>$vo}
        <tr>

            <td class='text-left nowrap'>{$vo.id}</td>
            <td class='text-left nowrap'>{$vo.tel}</td>
            <td class='text-left nowrap'>{$vo.username}</td>
            <td class='text-left nowrap'>{$vo.balance}</td>
            <td class='text-left nowrap'>{$vo.jing_balance}</td>
            <td class='text-left nowrap'>{$vo.freeze_balance}</td>
            <td class='text-left nowrap'>{$vo.lixibao_balance}</td>
            <td class='text-left nowrap'>{$vo.parent_name}</td>
            <td class='text-left nowrap'>{$vo.all_parent_name}</td>
            <td class='text-left nowrap'>{$vo.invite_code}</td>
            <td class='text-left nowrap'>
                {if $vo.level eq 0}
                白銀會員
                {elseif $vo.level eq 1}
                 黃金會員
               {elseif $vo.level eq 2}
                  白金會員
              {elseif $vo.level eq 3}
                鑽石會員
                {else}
                白銀會員
                {/if}
                </td>
            <td class='text-left nowrap'>
                {$vo.addtime|format_datetime}
            </td>

            <td class='text-left nowrap'>{$vo.ip}</td>
            <td class='text-left nowrap'>
                {if $vo.is_jia>0}
                <a class="layui-btn layui-btn-danger layui-btn-xs" >假人</a>
                {else}
                <a class="layui-btn layui-btn-normal layui-btn-xs" >真人</a>
                {/if}

            </td>
            <td class='text-left nowrap'>
                {if auth("edit_users")}
                <a data-dbclick class="layui-btn layui-btn-xs layui-btn-danger" data-title="暗扣設定" data-modal='{:url("admin/users/edit_users_ankou")}?id={$vo.id}'>暗扣設定</a>
                <!--<a data-dbclick class="layui-btn layui-btn-xs layui-btn-normal" data-title="总代设置" data-modal='{:url("admin/users/edit_all_parent_name")}?id={$vo.id}'>总代理设置</a>-->
                <a data-dbclick class="layui-btn layui-btn-xs" data-title="編輯選單" data-modal='{:url("admin/users/edit_users")}?id={$vo.id}'>編 輯</a>

                {if ($vo.status == 1) and auth("edit_users_status")}
                <a class="layui-btn layui-btn-xs layui-btn-warm" data-action="{:url('edit_users_status',['status'=>2,'id'=>$vo.id])}" data-value="id#{$vo.id};status#2" style='background:red;'>禁用</a>
                {elseif ($vo.status == 2) and auth("edit_users_status") /}
                <a class="layui-btn layui-btn-xs layui-btn-warm" data-action="{:url('edit_users_status',['status'=>1,'id'=>$vo.id])}" data-value="id#{$vo.id};status#1" style='background:green;'>啟用</a>
                {/if}





                <a data-dbclick class="layui-btn layui-btn-xs" data-title="銀行卡資訊" data-modal='{:url("admin/users/edit_users_bk")}?id={$vo.id}'>銀行卡資訊</a>
                <a data-dbclick class="layui-btn layui-btn-xs layui-btn-danger" data-title="收貨地址資訊" data-modal='{:url("admin/users/edit_users_address")}?id={$vo.id}'>地址資訊</a>

                <a class="layui-btn layui-btn-xs layui-btn" onClick="del_user({$vo.id})" style='background:red;'>删除</a>

                {/if}
                <a class="layui-btn layui-btn-xs layui-btn" data-action="{:url('edit_users_ewm',['status'=>2,'id'=>$vo.id])}" data-value="id#{$vo.id};status#{$vo.invite_code}" style='background:red;'>重繪二維碼</a>

                {if auth("tuandui")}
                <a data-dbclick class="layui-btn layui-btn-xs layui-btn-danger" data-title="查看團隊" data-reload="true" data-open='{:url("admin/users/tuandui")}?id={$vo.id}'>查看團隊</a>
                <a data-dbclick class="layui-btn layui-btn-xs layui-btn-normal" data-title="查看賬變" data-reload="true" data-open='{:url("admin/users/caiwu")}?id={$vo.id}'>賬變</a>
                {/if}

                {if ($vo.is_jia == 1) and auth("edit_users_status")}
                <a class="layui-btn layui-btn-xs layui-btn-warm" data-action="{:url('edit_users_status2',['status'=>-1,'id'=>$vo.id])}" data-value="id#{$vo.id};status#-1" style='background:red;'>設為真人</a>
                {else/}
                <a class="layui-btn layui-btn-xs layui-btn-warm" data-action="{:url('edit_users_status2',['status'=>1,'id'=>$vo.id])}" data-value="id#{$vo.id};status#1" style='background:green;'>設為假人</a>
                {/if}

            </td>
        </tr>
        {/foreach}
        </tbody>
    </table>
    <script>
        function del_user(id){
            layer.confirm("確認要删除嗎，删除後不能恢復",{ title: "删除確認" },function(index){
                $.ajax({
                    type: 'POST',
                    url: "{:url('delete_user')}",
                    data: {
                        'id': id,
                        '_csrf_': "{:systoken('admin/users/delete_user')}"
                    },
                    success:function (res) {
                        layer.msg(res.info,{time:2500});
                        location.reload();
                    }
                });
            },function(){});
        }
    </script>
    <script>
        var table = layui.table;
        //转换静态表格
        var limit = Number('{$Think.get.limit}');
        if(limit==0) limit=20;
        table.init('tab', {
            cellMinWidth:120,
            skin: 'line,row',
            size: 'lg',
            limit: limit
        });
    </script>
    {empty name='list'}<span class="notdata">沒有記錄哦</span>{else}{$pagehtml|raw|default=''}{/empty}

</div>
{/block}
