{extend name='main'}

{block name="button"}

{/block}

{block name="content"}

<div class="think-box-shadow">

    <table class="layui-table margin-top-15" lay-filter="tab" lay-skin="line">
        {notempty name='list'}
        <thead>
        <tr>
            <th lay-data="{field:'id',width:180}" class='text-left nowrap'>ID</th>
            <th lay-data="{field:'time',width:180}" class='text-left nowrap'>開始時間</th>
            <th lay-data="{field:'times',width:180}" class='text-left nowrap'>結束時間</th>
            <th lay-data="{field:'money',width:180}" class='text-left nowrap'>放量總額</th>
            <th lay-data="{field:'edit',width:280}" class='text-left nowrap'>操作</th>
        </tr>
        </thead>
        {/notempty}
        <tbody>
        {foreach $list as $key=>$vo}
        <tr>

            <td class='text-left nowrap'>{$vo.id}</td>
            <td class='text-left nowrap'>{$vo.time}</td>
            <td class='text-left nowrap'>{$vo.times}</td>
            <td class='text-left nowrap'>{$vo.money}</td>
            <td class='text-left nowrap'>
                <a data-dbclick class="layui-btn layui-btn-xs" data-title="放量設定" data-modal='{:url("admin/users/edit_io")}?id={$vo.id}'>編輯</a>
            </td>
        </tr>
        {/foreach}
        </tbody>
    </table>
    <script>
        var table = layui.table;
        //转换静态表格
        var limit = Number('{$Think.get.limit}');
        if(limit==0) limit=20;
        table.init('tab', {
            cellMinWidth:120,
            skin: 'line,row',
            size: 'lg',
            limit: limit
        });
    </script>
    {empty name='list'}<span class="notdata">沒有記錄哦</span>{else}{$pagehtml|raw|default=''}{/empty}

</div>
{/block}
