<div data-v-8755e8fe="" data-v-eebac136="" class="footer">
    <ul data-v-8755e8fe="">
        <li onclick="window.location.href='{:url(\'index/home\')}'" data-v-8755e8fe="" class="t">
<img data-v-8755e8fe=""src="/tu/1.png" alt="">
        </li>
        <li onclick="window.location.href='{:url(\'order/index\')}'" data-v-8755e8fe="" class="t">
 <img data-v-8755e8fe=""src="/tu/2.png" alt="">
        </li>
        <li onclick="window.location.href='{:url(\'index/ctrl/lixibao\')}'" data-v-8755e8fe="" class="t">
 <img data-v-8755e8fe=""src="/tu/3.png" alt="">
        </li>
        <li onclick="window.location.href='{:url(\'support/index\')}'" data-v-8755e8fe="" class="t">
 <img data-v-8755e8fe=""src="/tu/4.png" alt="">
        </li>
        <li onclick="window.location.href='{:url(\'my/index\')}'" data-v-8755e8fe="" class="t">
 <img data-v-8755e8fe=""src="/tu/5.png" alt="">
        </li>
    </ul>
</div>
