<form class="layui-form layui-card" action="{:request()->url()}" data-auto="true" method="post" autocomplete="off">
    <div class="layui-card-body padding-left-40">
        <div class="layui-form-item">
            <label class="relative block">
                <span class="color-green font-w7">登入用戶帳號</span>
                <span class="color-desc margin-left-5">Username</span>
                {if isset($vo) and isset($vo.username)}
                <input disabled value='{$vo.username|default=""}' class="layui-input layui-bg-gray">
                {else}
                <input name="username" value='{$vo.username|default=""}' required pattern="^.{4,}$" placeholder="請輸入4比特及以上字元登入用戶帳號" class="layui-input">
                {/if}
            </label>
            <p class="help-block">登入用戶帳號創建後，不允許再次修改。</p>
        </div>
        <div class="layui-form-item">
            <label class="relative block">
                <span class="color-green font-w7">用戶聯系手機</span>
                <span class="color-desc margin-left-5">Phone</span>
                <input type="tel" maxlength="11" autocomplete="off" autofocus name="phone" value='{$vo.phone|default=""}' pattern="^1[3-9][0-9]{9}$" placeholder="請輸入用戶聯系手機" class="layui-input">
            </label>
            <p class="color-desc">可選，用戶聯系手機號碼，需要填寫正確的格式</p>
        </div>
        <div class="layui-form-item">
            <label class="relative block">
                <span class="color-green font-w7">聯系電子郵箱</span>
                <span class="color-desc margin-left-5">Email</span>
                <input name="mail" autocomplete="off" pattern="^([a-zA-Z0-9_\.\-])+\@(([a-zA-Z0-9\-])+\.)+([a-zA-Z0-9]{2,4})+$" value='{$vo.mail|default=""}' placeholder="請輸入聯系電子郵箱" class="layui-input">
            </label>
            <p class="color-desc">可選，用戶聯系電子郵箱，需要填寫正確的格式</p>
        </div>

        {notempty name='authorizes'}
        <div class="layui-form-item relative">
            <span class="color-green font-w7">角色訪問授權</span>
            <span class="color-desc margin-left-5">Authorization</span>
            <div class="layui-textarea">
                {if isset($vo.username) and $vo.username eq 'admin'}
                <span class="color-desc">超級用戶不需要配寘許可權</span>
                {elseif empty($authorizes)}
                <span class="color-desc">未配寘許可權</span>
                {else}
                {foreach $authorizes as $authorize}
                <label class="think-checkbox layui-unselect">
                    {if in_array($authorize.id, $vo.authorize)}
                    <input type="checkbox" checked name="authorize[]" value="{$authorize.id}" lay-ignore> {$authorize.title}
                    {else}
                    <input type="checkbox" name="authorize[]" value="{$authorize.id}" lay-ignore> {$authorize.title}
                    {/if}
                </label>
                {/foreach}
                {/if}
            </div>
        </div>
        {/notempty}

        <div class="layui-form-item">
            <label class="relative block">
                <span class="color-green font-w7">用戶身份描述</span>
                <span class="color-desc margin-left-5">Description</span>
                <textarea placeholder="請輸入用戶身份描述" class="layui-textarea" name="desc">{$vo.desc|default=""}</textarea>
            </label>
        </div>
    </div>

    <div class="hr-line-dashed"></div>
    {notempty name='vo.id'}<input type='hidden' value='{$vo.id}' name='id'>{/notempty}

    <div class="layui-form-item text-center">
        <button class="layui-btn" type='submit'>保存數據</button>
        <button class="layui-btn layui-btn-danger" type='button' data-confirm="確定要取消編輯嗎？" data-close>取消編輯</button>
    </div>

</form>
