<form class="layui-form layui-card" action="{:request()->url()}" data-auto="true" method="post" autocomplete="off">

    <div class="layui-card-body padding-left-40">

        <div class="layui-form-item">
            <label class="relative block">
                <span class="color-green font-w7">登入用戶帳號</span>
                <span class="color-desc margin-left-5">Username</span>
                <!--{if isset($vo) and isset($vo.username)}-->
                <input disabled value='{$vo.username|default=""}' class="layui-input layui-bg-gray">
                <!--{else}-->
                <input name="username" value='{$vo.username|default=""}' required pattern="^.{4,}$" placeholder="請輸入4比特及以上字元登入用戶帳號" class="layui-input">
                <!--{/if}-->
            </label>
            <p class="help-block">登入用戶帳號創建後，不允許再次修改。</p>
        </div>

        <!--{if $verify}-->
        <div class="layui-form-item">
            <label class="relative block">
                <span class="color-green font-w7">舊的登入密碼</span>
                <span class="color-desc margin-left-5">Old Password</span>
                <input type="password" autofocus name="oldpassword" value='' pattern="^\S{1,}$" required placeholder="請輸入舊的登入密碼" class="layui-input">
            </label>
            <p class="color-desc">請輸入舊密碼來驗證修改許可權，舊密碼不限制格式。</p>
        </div>
        <!--{/if}-->

        <div class="layui-form-item">
            <label class="relative block">
                <span class="color-green font-w7">新的登入密碼</span>
                <span class="color-desc margin-left-5">New Password</span>
                <input type="password" name="password" maxlength="32" pattern="^(?![\d]+$)(?![a-zA-Z]+$)(?![^\da-zA-Z]+$).{6,32}$" required placeholder="請輸入新的登入密碼" class="layui-input">
            </label>
            <p class="color-desc">密碼必需包含大小寫字母、數位、符號的任意兩者組合。</p>
        </div>

        <div class="layui-form-item">
            <label class="relative block">
                <span class="color-green font-w7">重複登入密碼</span>
                <span class="color-desc margin-left-5">Retype Password</span>
                <input type="password" name="repassword" maxlength="32" pattern="^(?![\d]+$)(?![a-zA-Z]+$)(?![^\da-zA-Z]+$).{6,32}$" required placeholder="請輸入重複登入密碼" class="layui-input">
            </label>
            <p class="color-desc">密碼必需包含大小寫字母、數位、符號的任意兩者組合。</p>
        </div>

    </div>

    <div class="hr-line-dashed"></div>
    {notempty name='vo.id'}<input type='hidden' value='{$vo.id}' name='id'>{/notempty}

    <div class="layui-form-item text-center">
        <button class="layui-btn" type='submit'>保存數據</button>
        <button class="layui-btn layui-btn-danger" type='button' data-confirm="確定要取消編輯嗎？" data-close>取消編輯</button>
    </div>

</form>
