{extend name='main'}

{block name="button"}

{if auth("remove")}
<button data-action='{:url("remove")}' data-confirm="确定要批量删除任务吗？" data-rule="id#{key}" class='layui-btn layui-btn-sm layui-btn-primary'>批量删除任務</button>
{/if}

{if auth("processstart") && $iswin}
<button data-load='{:url("processstart")}' class='layui-btn layui-btn-sm layui-btn-primary'>創建監聽行程</button>
{/if}

{if auth("processstop") && $iswin}
<button data-load='{:url("processstop")}' class='layui-btn layui-btn-sm layui-btn-primary'>停止監聽行程</button>
{/if}

{/block}

{block name="content"}

<div class="think-box-shadow">
    {include file='queue/index_search'}
    <table class="layui-table margin-top-15" lay-skin="line">
        {notempty name='list'}
        <thead>
        <tr>
            <th class='list-table-check-td think-checkbox'>
                <input data-auto-none data-check-target='.list-check-box' type='checkbox'>
            </th>
            <th class='text-left nowrap'>任務資訊</th>
            <th class='text-left nowrap'>任務時間</th>
            <th class='text-left nowrap'>任務狀態</th>
        </tr>
        </thead>
        {/notempty}
        <tbody>
        {foreach $list as $key=>$vo}
        <tr>
            <td class='list-table-check-td think-checkbox'>
                <input class="list-check-box" value='{$vo.id}' type='checkbox'>
            </td>
            <td class='text-left nowrap'>
                任務名稱：{$vo.title}<br>
                <span class="color-desc">任務指令：{$vo.preload}</span>
            </td>
            <td class='text-left nowrap'>
                創建時間：{$vo.create_at|format_datetime} / {$vo.time|format_datetime}<br>
                執行時間：{$vo.start_at|format_datetime} / {$vo.end_at|format_datetime}
            </td>
            <td class='text-left nowrap'>
                任務狀態：{eq name='vo.double' value='1'}
                <span class="layui-badge layui-bg-green margin-right-5">複</span>
                {else}
                <span class="layui-badge layui-bg-blue margin-right-5">單</span>
                {/eq}

                {eq name='vo.status' value='1'}
                <span class="layui-badge layui-bg-black">待處理</span>
                {elseif $vo.status eq 2}
                <span class="layui-badge layui-bg-green">處理中</span>
                {elseif $vo.status eq 3}
                <span class="layui-badge layui-bg-blue">處理完成</span>
                {elseif $vo.status eq 4}
                <span class="layui-badge layui-bg-red margin-right-5">處理失敗</span>
                <a class="layui-badge layui-bg-green" data-tips-text="重置該任務" data-action="{:url('redo')}" data-value="id#{$vo.id}">
                    <i class="layui-icon font-s12">&#xe669;</i>
                </a>
                {/eq}
                {if auth("admin/queue/remove") and in_array($vo.status,[1,3,4])}
                <a data-action='{:url("remove")}' data-confirm="確定要删除該任務嗎？" data-value="id#{$vo.id}" data-tips-text="删除該任務" class='layui-badge layui-bg-red margin-left-5'>
                    <i class="layui-icon">&#xe640;</i>
                </a>
                {/if}
                <br>
                狀態描述：<span class="color-desc">{$vo.desc|raw|default="沒有獲取到狀態描述"}</span>
            </td>
        </tr>
        {/foreach}
        </tbody>
    </table>

    {empty name='list'}<span class="notdata">沒有記錄哦</span>{else}{$pagehtml|raw|default=''}{/empty}

</div>
{/block}
