{if session('admin_user.username') eq 'admin'}
<fieldset class="margin-bottom-10">
    <legend>行程守護</legend>
    <div class="layui-code border-0 margin-top-0">
        <p class="color-desc margin-top-10">當前消息隊列守護進程運行狀態</p>
        {$message|raw|default='--'}
        <p class="color-desc margin-top-10">配寘定時任務來檢查並啟動行程（建議每分鐘執行）</p>
        {$cmd|default='--'}
    </div>
</fieldset>
{/if}
<fieldset>
    <legend>條件蒐索</legend>
    <form class="layui-form layui-form-pane form-search" action="{:request()->url()}" onsubmit="return false" method="get" autocomplete="off">
        <div class="layui-form-item layui-inline">
            <label class="layui-form-label">任務名稱</label>
            <div class="layui-input-inline">
                <input name="title" value="{$Think.get.title|default=''}" placeholder="請輸入任務名稱" class="layui-input">
            </div>
        </div>
        <div class="layui-form-item layui-inline">
            <label class="layui-form-label">任務指令</label>
            <div class="layui-input-inline">
                <input name="preload" value="{$Think.get.preload|default=''}" placeholder="請輸入任務指令" class="layui-input">
            </div>
        </div>
        <div class="layui-form-item layui-inline">
            <label class="layui-form-label">任務狀態</label>
            <div class="layui-input-inline">
                <select name="status" class="layui-select">
                    {foreach [''=>'-- 全部狀態 --','1'=>'待處理','2'=>'處理中','3'=>'處理完成','4'=>'處理失敗'] as $k=>$v}
                    <!--{if $Think.get.status eq $k}-->
                    <option selected value="{$k}">{$v}</option>
                    <!--{else}-->
                    <option value="{$k}">{$v}</option>
                    <!--{/if}-->
                    {/foreach}
                </select>
            </div>
        </div>
        <div class="layui-form-item layui-inline">
            <label class="layui-form-label">創建時間</label>
            <div class="layui-input-inline">
                <input data-date-range name="create_at" value="{$Think.get.create_at|default=''}" placeholder="請選擇創建時間" class="layui-input">
            </div>
        </div>
        <div class="layui-form-item layui-inline">
            <label class="layui-form-label">開始時間</label>
            <div class="layui-input-inline">
                <input data-date-range name="start_at" value="{$Think.get.start_at|default=''}" placeholder="請選擇開始時間" class="layui-input">
            </div>
        </div>
        <div class="layui-form-item layui-inline">
            <label class="layui-form-label">結束時間</label>
            <div class="layui-input-inline">
                <input data-date-range name="end_at" value="{$Think.get.end_at|default=''}" placeholder="請選擇結束時間" class="layui-input">
            </div>
        </div>
        <div class="layui-form-item layui-inline">
            <button class="layui-btn layui-btn-primary"><i class="layui-icon">&#xe615;</i> 蒐 索</button>
        </div>
    </form>
</fieldset>

<script>form.render()</script>
