<form class="layui-form layui-card" action="{:request()->url()}" data-auto="true" method="post" autocomplete="off">
    <div class="layui-card-body">
        <div class="layui-form-item">
            <label class="layui-form-label label-required">快遞公司名稱</label>
            <div class="layui-input-block">
                <input name="kdgs" required placeholder="請輸入快遞公司名稱" value="{$info.kdgs}" class="layui-input">
                <input type="hidden" name="_csrf_" value="{:systoken('admin/shop/add_kuaidi')}">

            </div>
        </div>

        <div class="layui-form-item">
            <label class="layui-form-label label-required">快遞單號</label>
            <div class="layui-input-block">
                <input name="kddh" required placeholder="請輸入快遞單號" value="{$info.kddh}" class="layui-input">
            </div>
        </div>
    <input name="id" type="hidden" value="{$info.id}">
    <div class="hr-line-dashed"></div>
    <div class="layui-form-item text-center">
        <button class="layui-btn" type='submit'>提交</button>
        <button class="layui-btn layui-btn-danger" type='button' data-close>取消</button>
    </div>

    <script>window.form.render();</script>
</div>
</form>
