{extend name='main'}
{block name="content"}

<div class="think-box-shadow">

    <table class="layui-table margin-top-15" lay-skin="line">
        {notempty name='list'}
        <thead>
        <tr>
            <th class='text-left nowrap'>訂單號</th>
            <th class='text-left nowrap'>用戶名</th>
            <th class='text-left nowrap'>交易金額</th>
            <th class='text-left nowrap'>錯誤資訊</th>
            <th class='text-left nowrap'>發生時間</th>
        </tr>
        </thead>
        {/notempty}
        <tbody>
        {foreach $list as $vo}
        <tr>
            <td class='text-left nowrap'>{$vo.oid}</td>
            <td class='text-left nowrap'>{$vo.username|default='-'}</td>
            <td class='text-left nowrap'>¥{$vo.num|default='0'}</td>
            <td class='text-left nowrap'>{$vo.errmsg}</td>
            <td class='text-left nowrap'>{$vo.addtime|format_datetime}</td>
        </tr>
        {/foreach}
        </tbody>
    </table>

    {empty name='list'}<span class="notdata">沒有記錄哦</span>{else}{$pagehtml|raw|default=''}{/empty}

</div>
<script>
    function del_goods(id){
         layer.confirm("確認要删除嗎，删除後不能恢復",{ title: "删除確認" },function(index){
            $.ajax({
                type: 'POST',
                url: "{:url('del_goods')}",
                data: {
                    'id': id,
                    '_csrf_': "{:systoken('admin/deal/del_goods')}"
                },
                success:function (res) {
                    layer.msg(res.info,{time:2500});
                    location.reload();
                }
            });
        },function(){});
    }
</script>
{/block}
