<fieldset>
    <legend>條件蒐索</legend>
    <form class="layui-form layui-form-pane form-search" action="{:request()->url()}" onsubmit="return false" method="get" autocomplete="off">
        <div class="layui-form-item layui-inline">
            <label class="layui-form-label">商品名稱</label>
            <div class="layui-input-inline">
                <input name="title" value="{$Think.get.title|default=''}" placeholder="請輸入商品名稱" class="layui-input">
            </div>
        </div>
        <div class="layui-form-item layui-inline">
            <label class="layui-form-label">分類</label>
            <div class="layui-input-inline">
                <select name="cid" id="selectList">
                    <option value="">所有分類</option>
                    {foreach $cate as $key=>$vo}
                        <option value="{$vo.id}">{$vo.name}</option>
                    {/foreach}
                </select>
            </div>
        </div>



        <div class="layui-form-item layui-inline">
            <button class="layui-btn layui-btn-primary"><i class="layui-icon">&#xe615;</i> 蒐 索</button>
        </div>
    </form>
    <script>
        var test = "{$Think.get.cid|default='0'}";
        $("#selectList").find("option[value="+test+"]").prop("selected",true);

        form.render()
    </script>
</fieldset>