{extend name='main'}

{block name="button"}

    {if auth("add_goods")}
    <button data-open='{:url("add_goods")}' data-title="添加商品" class='layui-btn'>添加商品</button>
    {/if}

{/block}

{block name="content"}

<div class="think-box-shadow">
    {include file='shop/goods_search'}

    <table class="layui-table margin-top-15" lay-skin="line">
        {notempty name='list'}
        <thead>
        <tr>
            <th class='text-left nowrap'>商品ID</th>
            <th class='text-left nowrap'>商品名稱</th>
            <th class='text-left nowrap'>商品價格</th>
            <th class='text-left nowrap'>店鋪名稱</th>
            <th class='text-left nowrap'>添加時間</th>
            <th class='text-left nowrap'>是否推薦</th>
            <th class='text-left nowrap'>狀態</th>
        </tr>
        </thead>
        {/notempty}
        <tbody>
        {foreach $list as $key=>$vo}
        <tr>
            <td class='text-left nowrap'>{$vo.id}</td>
            <td class='text-left nowrap'>{$vo.goods_name}</td>
            <td class='text-left nowrap'>¥{$vo.goods_price}</td>
            <td class='text-left nowrap'>{$vo.shop_name}</td>
            <td class='text-left nowrap'>
                {$vo.addtime|format_datetime}
            </td>

            <td class='text-left nowrap'>
                {if $vo.is_tj == 1}
                推薦
                {else /}
                未推薦
                {/if}
            </td>


            <td class='text-left nowrap'>


            {if auth("edit_goods")}
                <a class="layui-btn layui-btn-xs layui-btn" data-open="{:url('edit_goods',['id'=>$vo.id])}" data-value="id#{$vo.id}" style='background:green;'>編輯</a>
            {/if}
            {if auth("del_goods")}
                <a class="layui-btn layui-btn-xs layui-btn" style='background:red;' onClick="del_goods({$vo.id})">删除</a>
            {/if}

                {if $vo.is_tj eq 1}
                <a class="layui-btn layui-btn-warm layui-btn-xs" data-action="{:url('forbid')}" data-value="id#{$vo.id};status#0" data-csrf="{:systoken('admin/shop/forbid')}">取消推薦</a>
                {elseif $vo.is_tj eq 0}
                <a class="layui-btn layui-btn-warm layui-btn-xs" data-action="{:url('resume')}" data-value="id#{$vo.id};status#1" data-csrf="{:systoken('admin/shop/resume')}">推 薦</a>
                {/if}

            </td>
        </tr>
        {/foreach}
        </tbody>
    </table>

    {empty name='list'}<span class="notdata">沒有記錄哦</span>{else}{$pagehtml|raw|default=''}{/empty}

</div>
<script>
    function del_goods(id){
         layer.confirm("確認要删除嗎，删除後不能恢復",{ title: "删除確認" },function(index){
            $.ajax({
                type: 'POST',
                url: "{:url('del_goods')}",
                data: {
                    'id': id,
                    '_csrf_': "{:systoken('admin/shop/del_goods')}"
                },
                success:function (res) {
                    layer.msg(res.info,{time:2500});
                    location.reload();
                }
            });
        },function(){});
    }
</script>
{/block}
