{extend name='main'}

{block name="content"}

<div class="think-box-shadow">
    {include file='deal/order_list_search'}
    <table class="layui-table margin-top-15" lay-skin="line">
        {notempty name='list'}
        <thead>
        <tr>
            <th class='text-left nowrap'>訂單號</th>
            <th class='text-left nowrap'>收貨人</th>
            <th class='text-left nowrap'>收貨地址</th>
            <th class='text-left nowrap'>手機號碼</th>
            <td class='text-left nowrap'>付款方式</td>
            <td class='text-left nowrap'>買家留言</td>
            <th class='text-left nowrap'>快遞公司</th>
            <th class='text-left nowrap'>快遞單號</th>
            <th class='text-left nowrap'>購買商品</th>
            <th class='text-left nowrap'>商品單價</th>
            <th class='text-left nowrap'>交易數量</th>
            <th class='text-left nowrap'>交易數額</th>
            <th class='text-left nowrap'>下單時間</th>
            <th class='text-left nowrap'>交易狀態</th>
            <th class='text-left nowrap'>操作</th>
        </tr>
        </thead>
        {/notempty}
        <tbody>
        {foreach $list as $key=>$vo}
        <tr>
            <td class='text-left nowrap'>{$vo.id}</td>
            <td class='text-left nowrap'>{$vo.name}</td>
            <td class='text-left nowrap'>{$vo.area}{$vo.address}</td>
            <td class='text-left nowrap'>{$vo.tel}</td>
            <td class='text-left nowrap'>{switch $vo.paytype}
            		{case 3}
            		{literal}
            		<span class="layui-btn layui-btn-sm layui-btn-normal">餘額付款</span>
            		{/literal}
            		{/case}
            		{case 1}<span class="layui-btn layui-btn-sm layui-btn layui-btn-danger">靜態付款</span>{/case}
                    {case 2}<span class="layui-btn layui-btn-sm layui-btn layui-btn-warm">動態付款</span>{/case}
            		{/switch}</td>
            <td class='text-left nowrap'>{$vo.maijia}</td>
            <td class='text-left nowrap'>{$vo.kdgs}</td>
            <td class='text-left nowrap'>{$vo.kddh}</td>
            <td class='text-left nowrap'>{$vo.goods_name}</td>
            <td class='text-left nowrap'>¥{$vo.goods_price}</td>
            <td class='text-left nowrap'>{$vo.num}</td>
            <td class='text-left nowrap'>¥{$vo.num}</td>
            <td class='text-left nowrap'>
                {$vo.addtime|format_datetime}
            </td>
            <td class='text-left nowrap'>
                {switch $vo.status}
                    {case 0}
                        {literal}
                            等待付款
                        {/literal}
                    {/case}
                    {case 1}完成付款{/case}
                    {case 2}已完成{/case}
                    {case 3}等待收貨{/case}
                {/switch}
            </td>
            <td class='text-left nowrap'>
                {if $vo.status==0}
                <a data-csrf="{:systoken('admin/deal/do_user_order')}" class="layui-btn layui-btn-xs layui-btn" data-action="{:url('do_user_order')}" data-value="id#{$vo.id};status#3" >強制付款</a>
                <a data-csrf="{:systoken('admin/deal/do_user_order')}" class="layui-btn layui-btn-xs layui-btn-warm" data-action="{:url('do_user_order')}" data-value="id#{$vo.id};status#4" >取消訂單</a>
                {/if}

                {if $vo.status==1}
                {if auth("add_kuaidi")}
                <a data-dbclick class="layui-btn layui-btn-sm" data-title="發貨及快遞訂單處理（完成訂單即視為已發貨）" data-modal='{:url("add_kuaidi")}?id={$vo.id}'>發貨快遞單號</a>
                {/if}
                {/if}
                {if $vo.status==3}
                <a data-csrf="{:systoken('admin/shop/shouhuo')}" class="layui-btn layui-btn-sm layui-btn layui-btn-danger" data-action="{:url('shouhuo')}" data-value="id#{$vo.id};status#2" >強制完成收貨</a>
                {/if}
            </td>
        </tr>
        {/foreach}
        </tbody>
    </table>

    {empty name='list'}<span class="notdata">沒有記錄哦</span>{else}{$pagehtml|raw|default=''}{/empty}

</div>
{/block}
