{extend name='main'}

{block name="button"}

    {if auth("add_bank")}
    <button data-open='{:url("add_bank")}' data-title="添加卡号" class='layui-btn'>添加錢包</button>
    {/if}

{/block}

{block name="content"}

<div class="think-box-shadow">
    <table class="layui-table margin-top-15" lay-skin="line">
        {notempty name='list'}
        <thead>
        <tr>
             <th class='text-left nowrap'>ID</th>
            <th class='text-left nowrap'>戶名</th>
            <th class='text-left nowrap'>加密貨幣</th>
            <th class='text-left nowrap'>區塊鏈名稱</th>
            <th class='text-left nowrap'>錢包qr碼</th>
            <th class='text-left nowrap'>錢包地址</th>
            <th class='text-left nowrap'>操作</th>
        </tr>
        </thead>
        {/notempty}
        <tbody>
        {foreach $list as $key=>$vo}
        <tr>
            <td class='text-left nowrap'>{$vo.id}</td>
            <td class='text-left nowrap'>{$vo.bank_name}</td>
            <td class='text-left nowrap'>{$vo.usdt_name}</td>
            <td class='text-left nowrap'>{$vo.name}</td>
            <td class='text-left nowrap'>
                <img src="{$vo.qr_code}" alt="" style="width: 80px">
            </td>
            <td class='text-left nowrap'>{$vo.bank_card}</td>
             <td class='text-left nowrap'>
            {if auth("edit_bank")}
                <a class="layui-btn layui-btn-xs layui-btn" data-open="{:url('edit_bank',['id'=>$vo.id])}" data-value="id#{$vo.id}" style='background:green;'>編輯</a>
            {/if}
            {if auth("del_bank")}
                <a class="layui-btn layui-btn-xs layui-btn" style='background:red;' onClick="del_bank({$vo.id})">删除</a>
            {/if}
            </td>
        </tr>
        {/foreach}
        </tbody>
    </table>

    {empty name='list'}<span class="notdata">沒有記錄哦</span>{else}{$pagehtml|raw|default=''}{/empty}

</div>
<script>
    function del_bank(id){
        layer.confirm("確認要删除嗎，删除後不能恢復",{ title: "删除确认" },function(index){
            $.ajax({
                type: 'POST',
                url: "{:url('del_bank')}",
                data: {
                    'id': id,
                    '_csrf_': "{:systoken('admin/deal/del_bank')}"
                },
                success:function (res) {
                    layer.msg(res.info,{time:2500});
                    location.reload();
                }
            });
        },function(){});
    }
</script>
{/block}
