{extend name='main'}

{block name="content"}

<form onsubmit="return false;" data-auto="true" method="post" class='layui-form layui-card' autocomplete="off">

    <div class="layui-tab layui-tab-card">
        <ul class="layui-tab-title">
            <li class="layui-this">基礎設定</li>
            <li>利息寶設定</li>
            <li>銀行設定</li>
            <li>簡訊寶設定 </li>
        </ul>
        <div class="layui-tab-content" style="">
            <div class="layui-tab-item layui-show">

                <div class="layui-card-body padding-40 layui-col-md8">
                    <!--label class="layui-form-item block relative">
                        <span class="color-green margin-right-10">收款银行卡号</span>
                        <input name="master_cardnum" required value="{:config('master_cardnum')}" class="layui-input">
                    </label>
                    <label class="layui-form-item block relative">
                        <span class="color-green margin-right-10">收款人</span>
                        <input name="master_name" required value="{:config('master_name')}" class="layui-input">
                    </label>
                    <label class="layui-form-item block relative">
                        <span class="color-green margin-right-10">所属银行</span>
                        <input name="master_bank" required value="{:config('master_bank')}" class="layui-input">
                    </label>
                    <label class="layui-form-item block relative">
                        <span class="color-green margin-right-10">银行地址</span>
                        <input name="master_bk_address" required value="{:config('master_bk_address')}" class="layui-input">
                    </label>
                    <hr/-->
                    <label class="layui-form-item block relative">
                        <span class="color-green margin-right-10">交易所需餘額</span>
                        <input name="deal_min_balance" required value="{:config('deal_min_balance')}" class="layui-input">
                        <input type="hidden" name="_csrf_" value="{:systoken('admin/deal/deal_console')}">
                        <p class="help-block">交易所需餘額</p>
                    </label>

                    <label class="layui-form-item margin-top-20 block relative">
                        <span class="color-green margin-right-10">未訂單的支付等待時長（秒）</span>
                        <!-- <span class="nowrap color-desc">OrderWaitTime</span> -->
                        <input name="deal_timeout" required placeholder="請輸入訂單支付等待時長" value="{:config('deal_timeout')}" class="layui-input">
                        <p class="help-block">訂單支付等待時長，新下訂單未在此時間內容完成支付將會被自動取消</p>
                    </label>
                    <label class="layui-form-item margin-top-20 block relative">
                        <span class="color-green margin-right-10">匹配範圍</span>
                        <!-- <span class="nowrap color-desc">OrderClearTime</span> -->
                        <div id="deal_rule" style="position:relative; margin: 10px 0px;" class="demo-slider"></div>
                        <div id="test-slider-tips2" style="position:relative; margin: 10px 0px;" class="help-block">匹配範圍：{:config('deal_min_num')}% ~ {:config('deal_max_num')}%</div>
                        <input type="hidden" name="deal_min_num" id='min' value="{:config('deal_min_num')}">
                        <input type="hidden" name="deal_max_num" id='max' value="{:config('deal_max_num')}">
                    </label>

                    <label class="layui-form-item margin-top-20 block relative">
                        <span class="color-green margin-right-10">當日交易次數限制</span>
                        <input name="deal_count" required value="{:config('deal_count')}" class="layui-input">
                        <p class="help-block">當日交易次數限制</p>
                    </label>
                    <label class="layui-form-item margin-top-20 block relative">
                        <span class="color-green margin-right-10">獎勵交易次數</span>
                        <input name="deal_reward_count" required value="{:config('deal_reward_count')}" class="layui-input">
                        <p class="help-block">獎勵交易次數</p>
                    </label>

                    <!--<label class="layui-form-item margin-top-20 block relative">-->
                    <!--<span class="color-green margin-right-10">直推会员推广佣金</span>-->
                    <!--&lt;!&ndash; <span class="nowrap color-desc">OrderClearTime</span> &ndash;&gt;-->
                    <!--<input name="1_reward" max="1" min="0" step="0.01" required value="{:config('1_reward')}" type="number" class="layui-input">-->
                    <!--<p class="help-block">推广佣金</p>-->
                    <!--</label>-->

                    <!--<label class="layui-form-item margin-top-20 block relative">-->
                    <!--<span class="color-green margin-right-10">上两级会员推广佣金</span>-->
                    <!--&lt;!&ndash; <span class="nowrap color-desc">OrderClearTime</span> &ndash;&gt;-->
                    <!--<input name="2_reward" max="1" min="0" step="0.01" required value="{:config('2_reward')}" type="number" class="layui-input">-->
                    <!--<p class="help-block">推广佣金</p>-->
                    <!--</label>-->
                    <!--<label class="layui-form-item margin-top-20 block relative">-->
                    <!--<span class="color-green margin-right-10">上三级会员推广佣金</span>-->
                    <!--&lt;!&ndash; <span class="nowrap color-desc">OrderClearTime</span> &ndash;&gt;-->
                    <!--<input name="3_reward" max="1" min="0" step="0.01" required value="{:config('3_reward')}" type="number" class="layui-input">-->
                    <!--<p class="help-block">推广佣金</p>-->
                    <!--</label>-->

                    <label class="layui-form-item margin-top-20 block relative">
                        <span class="color-green margin-right-10">普通會員交易傭金</span>
                        <!-- <span class="nowrap color-desc">OrderClearTime</span> -->
                        <input name="vip_1_commission" max="1" min="0" step="0.01" required value="{:config('vip_1_commission')}" type="number" class="layui-input">
                        <p class="help-block">交易傭金</p>
                    </label>
                    <label class="layui-form-item margin-top-20 block relative">
                        <span class="color-green margin-right-10">上一級會員交易傭金</span>
                        <!-- <span class="nowrap color-desc">OrderClearTime</span> -->
                        <input name="1_d_reward" max="1" min="0" step="0.01" required value="{:config('1_d_reward')}" type="number" class="layui-input">
                        <p class="help-block">交易傭金</p>
                    </label>
                    <label class="layui-form-item margin-top-20 block relative">
                        <span class="color-green margin-right-10">上二級會員交易傭金</span>
                        <!-- <span class="nowrap color-desc">OrderClearTime</span> -->
                        <input name="2_d_reward" max="1" min="0" step="0.01" required value="{:config('2_d_reward')}" type="number" class="layui-input">
                        <p class="help-block">交易傭金</p>
                    </label>
                    <label class="layui-form-item margin-top-20 block relative">
                        <span class="color-green margin-right-10">上三級會員交易傭金</span>
                        <!-- <span class="nowrap color-desc">OrderClearTime</span> -->
                        <input name="3_d_reward" max="1" min="0" step="0.01" required value="{:config('3_d_reward')}" type="number" class="layui-input">
                        <p class="help-block">交易傭金</p>
                    </label>
                    <label class="layui-form-item margin-top-20 block relative">
                        <span class="color-green margin-right-10">上四級會員交易傭金</span>
                        <!-- <span class="nowrap color-desc">OrderClearTime</span> -->
                        <input name="4_d_reward" max="1" min="0" step="0.01" required value="{:config('4_d_reward')}" type="number" class="layui-input">
                        <p class="help-block">交易傭金</p>
                    </label>
                    <label class="layui-form-item margin-top-20 block relative">
                        <span class="color-green margin-right-10">上五級會員交易傭金</span>
                        <!-- <span class="nowrap color-desc">OrderClearTime</span> -->
                        <input name="5_d_reward" max="1" min="0" step="0.01" required value="{:config('5_d_reward')}" type="number" class="layui-input">
                        <p class="help-block">交易傭金</p>
                    </label>
                    <label class="layui-form-item margin-top-20 block relative">
                        <span class="color-green margin-right-10">凍結時間</span>
                        <!-- <span class="nowrap color-desc">OrderClearTime</span> -->
                        <input name="deal_feedze" required value="{:config('deal_feedze')}" class="layui-input">
                        <p class="help-block">凍結時間</p>
                    </label>

                    <label class="layui-form-item margin-top-20 block relative">
                        <span class="color-green margin-right-10">允許違規次數</span>
                        <input name="deal_error" required placeholder="請輸入已發貨訂單自動確認收貨時長" value="{:config('deal_error')}" class="layui-input">
                        <p class="help-block">允許違規次數</p>
                    </label>
                    <label class="layui-form-item margin-top-20 block relative">
                        <span class="color-green margin-right-10">提交訂單延時時間（組織/秒）</span>
                        <p>
                            遠程主機分配時間: <input name="deal_zhuji_time" style="width:100px;display: inline-block" required placeholder="" value="{:config('deal_zhuji_time')}" class="layui-input">
                            等待商家回應時間 <input name="deal_shop_time" style="width:100px;display: inline-block" required placeholder="" value="{:config('deal_shop_time')}" class="layui-input">

                        </p>
                        <p class="help-block">時間由2部分組成，默認都是5秒，總共10秒</p>
                    </label>

                    <label class="layui-form-item margin-top-20 block relative">
                        <span class="color-green margin-right-10">app下載地址</span>
                        <input name="app_url" required placeholder="請輸入app下載地址" value="{:config('app_url')}" class="layui-input">
                        <p class="help-block">app下載地址</p>
                    </label>


                    <label class="layui-form-item margin-top-20 block relative">
                        <span class="color-green margin-right-10">版本號</span>
                        <input name="version" required placeholder="請輸入版本" value="{:config('version')}" class="layui-input">
                        <p class="help-block">版本號</p>
                    </label>



                    <label class="layui-form-item margin-top-20 block relative">
                        <span class="color-green margin-right-10">提現時間</span>
                        <input style="width: 120px;display: inline-block" name="tixian_time_1" required placeholder="提現開始時間" value="{:config('tixian_time_1')}" class="layui-input">
                        -
                        <input style="width: 120px;display: inline-block" name="tixian_time_2" required placeholder="提現結束時間" value="{:config('tixian_time_2')}" class="layui-input">
                        <p class="help-block">只支持整點，如08:00-20:00，請直接輸入8 - 20</p>
                    </label>

                    <label class="layui-form-item margin-top-20 block relative">
                        <span class="color-green margin-right-10">充值時間</span>
                        <input style="width: 120px;display: inline-block" name="chongzhi_time_1" required placeholder="提現開始時間" value="{:config('chongzhi_time_1')}" class="layui-input">
                        -
                        <input style="width: 120px;display: inline-block" name="chongzhi_time_2" required placeholder="提現結束時間" value="{:config('chongzhi_time_2')}" class="layui-input">
                        <p class="help-block">只支持整點，如08:00-20:00，請直接輸入8 - 20</p>
                    </label>


                    <label class="layui-form-item margin-top-20 block relative">
                        <span class="color-green margin-right-10">搶單時間</span>
                        <input style="width: 120px;display: inline-block" name="order_time_1" required placeholder="搶單開始時間" value="{:config('order_time_1')}" class="layui-input">
                        -
                        <input style="width: 120px;display: inline-block" name="order_time_2" required placeholder="搶單結束時間" value="{:config('order_time_2')}" class="layui-input">
                        <p class="help-block">只支持整點，如08:00-20:00，請直接輸入8 - 20</p>
                    </label>
                    <label class="layui-form-item margin-top-20 block relative">
                        <span class="color-green margin-right-10">商城狀態</span>
                        <input style="width: 120px;display: inline-block" name="shop_status" required placeholder="商城狀態" value="{:config('shop_status')}" class="layui-input">
                        <p class="help-block">商城狀態：1開啟0關閉</p>
                    </label>


                </div>

            </div>
            <div class="layui-tab-item">
            <div class="layui-card-body padding-40 layui-col-md8">

                <label class="layui-form-item block relative">
                    <span class="color-green margin-right-10">日利率</span>
                    <input name="lxb_bili" required value="{:config('lxb_bili')}" class="layui-input">
                    <p class="help-block">利息寶日利率，直接寫小數，沒有百分號</p>
                </label>

                <label class="layui-form-item block relative">
                    <span class="color-green margin-right-10">轉入最小額度</span>
                    <input name="lxb_ru_min" required value="{:config('lxb_ru_min')}" class="layui-input">
                    <p class="help-block">利息寶轉入額度最低</p>
                </label>
                <label class="layui-form-item block relative">
                    <span class="color-green margin-right-10">轉入最大額度</span>
                    <input name="lxb_ru_max" required value="{:config('lxb_ru_max')}" class="layui-input">
                    <p class="help-block">利息寶轉入額度最高</p>
                </label>



                <label class="layui-form-item block relative">
                    <span class="color-green margin-right-10">轉出到餘額時間</span>
                    <input name="lxb_time" required value="{:config('lxb_time')}" class="layui-input">
                    <p class="help-block">轉出到餘額，實際到賬時間/小時</p>

                </label>
                <label class="layui-form-item block relative">
                    <span class="color-green margin-right-10">上一級會員收益比例</span>
                    <input name="lxb_sy_bili1" required value="{:config('lxb_sy_bili1')}" class="layui-input">
                </label>
                <label class="layui-form-item block relative">
                    <span class="color-green margin-right-10">上兩級會員收益比例</span>
                    <input name="lxb_sy_bili2" required value="{:config('lxb_sy_bili2')}" class="layui-input">
                </label>
                <label class="layui-form-item block relative">
                    <span class="color-green margin-right-10">上三級會員收益比例</span>
                    <input name="lxb_sy_bili3" required value="{:config('lxb_sy_bili3')}" class="layui-input">
                </label>
                <label class="layui-form-item block relative">
                    <span class="color-green margin-right-10">上四級會員收益比例</span>
                    <input name="lxb_sy_bili4" required value="{:config('lxb_sy_bili4')}" class="layui-input">
                </label>
                <label class="layui-form-item block relative">
                    <span class="color-green margin-right-10">上五級會員收益比例</span>
                    <input name="lxb_sy_bili5" required value="{:config('lxb_sy_bili5')}" class="layui-input">
                </label>



            </div>
            </div>
            <div class="layui-tab-item">
                <div class="layui-card-body padding-40 layui-col-md8">
                    <label class="layui-form-item block relative">
                        <span class="color-green margin-right-10">銀行設定</span>
                        <textarea style="min-height: 130px;line-height:16px" name="bank" required  class="layui-input">{$bank}</textarea>
                        <p class="help-block">一行一個</p>
                    </label>
                </div>
            </div>


            <div class="layui-tab-item">
                <div class="layui-card-body padding-40 layui-col-md8">
                    <h3>簡訊寶申請地址 <a target="_blank" href="http://www.smsbao.com/reg?r=11292">簡訊寶申請</a></h3>
                    <label class="layui-form-item block relative">
                        <span class="color-green margin-right-10">簡訊寶帳號</span>
                        <input name="user" required value="{:config('smsbao')['user']}" class="layui-input">
                        <p class="help-block">利息寶日利率，直接寫小數，沒有百分號</p>
                    </label>

                    <label class="layui-form-item block relative">
                        <span class="color-green margin-right-10">簡訊寶密碼</span>
                        <input name="pass" required value="{:config('smsbao')['pass']}" class="layui-input">
                        <p class="help-block">密碼，無需md5</p>
                    </label>
                    <label class="layui-form-item block relative">
                        <span class="color-green margin-right-10">範本簽名</span>
                        <input name="sign" required value="{:config('smsbao')['sign']}" class="layui-input">
                        <p class="help-block">範本需要自行申請</p>
                    </label>
                </div>


            </div>






        </div>

        <div class="layui-form-item text-center margin-top-20">
            <button class="layui-btn" type="submit">保存配寘</button>
        </div>
    </div>



</form>
<script>
    layui.use('slider', function(){
      var $ = layui.$
      ,slider = layui.slider,
      min = "{:config('deal_min_num')}",
      max = "{:config('deal_max_num')}";
      //默认滑块
      //开启范围选择
      slider.render({
        elem: '#deal_rule'
        ,value: [min,max] //初始值
        ,range: true //范围选择
        ,change: function(vals){
          $('#test-slider-tips2').html('匹配范围：'+ vals[0] + '% ~ '+ vals[1]+'%');
          $('#min').val(vals[0]);
          $('#max').val(vals[1]);
        }
      });      
    });
</script>

{/block}
