{extend name='main'}

{block name="content"}

<div class="think-box-shadow">
    <fieldset>
        <legend>條件蒐索</legend>


        <form class="layui-form layui-form-pane form-search" action="{:request()->url()}" onsubmit="return false" method="get" autocomplete="off">
            {if auth("do_deposit") }
            <div class="layui-form-item layui-inline" style="margin-right: 10px">
                <button data-action='{:url("do_deposit2")}' data-csrf="{:systoken('do_deposit2')}" data-rule="id#{key}" class='layui-btn layui-btn-sm layui-btn-danger'>批量通過</button>
                <button data-action='{:url("do_deposit3")}' data-csrf="{:systoken('do_deposit3')}" data-rule="id#{key}" class='layui-btn layui-btn-sm layui-btn-warning'>批量拒絕</button>
            </div>
            {/if}

            <div class="layui-form-item layui-inline">
                <label class="layui-form-label">訂單號</label>
                <div class="layui-input-inline">
                    <input name="oid" value="{$Think.get.oid|default=''}" placeholder="請輸入訂單號" class="layui-input">
                </div>
            </div>
            <div class="layui-form-item layui-inline">
                <label class="layui-form-label">用戶名稱</label>
                <div class="layui-input-inline">
                    <input name="username" value="{$Think.get.username|default=''}" placeholder="請輸入用戶名稱" class="layui-input">
                </div>
            </div>
            <div class="layui-form-item layui-inline">
                <label class="layui-form-label">發起時間</label>
                <div class="layui-input-inline">
                    <input data-date-range name="addtime" value="{$Think.get.addtime|default=''}" placeholder="請選擇發起時間" class="layui-input">
                </div>
            </div>
            <div class="layui-form-item layui-inline">
                <button class="layui-btn layui-btn-primary"><i class="layui-icon">&#xe615;</i> 蒐索</button>
                {if auth("do_deposit") }
                <a href="/admin/deal/daochu.html" class="layui-btn layui-btn-danger" ><i class="layui-icon">&#xe615;</i> 匯出</a>
                {/if}
            </div>
        </form>
    </fieldset>
    
    <script>form.render()</script>
    <table class="layui-table margin-top-15" lay-skin="line">
        {notempty name='list'}
        <thead>
        <tr>
            <th class='list-table-check-td think-checkbox'>
                <input data-auto-none data-check-target='.list-check-box' type='checkbox'>
            </th>

            <th class='text-left nowrap'>訂單號</th>
            <th class='text-left nowrap'>提现用户</th>
            <th class='text-left nowrap'>提現金額</th>
            <th class='text-left nowrap'>手續費</th>
            <th class='text-left nowrap'>實際到賬</th>
            <th class='text-left nowrap'>銀行名稱</th>
            <th class='text-left nowrap'>開戶名稱</th>
            <th class='text-left nowrap'>銀行卡號</th>
            <th class='text-left nowrap'>聯繫電話</th>
            <th class='text-left nowrap'>發起時間</th>
            <th class='text-left nowrap'>處理時間</th>
            <th class='text-left nowrap'>管道</th>
            <th class='text-left nowrap'>訂單狀態</th>
            {if auth('do_deposit')}
                <th class='text-left nowrap'>操作</th>
            {/if}
        </tr>
        </thead>
        {/notempty}
        <tbody>
        {foreach $list as $key=>$vo}
        <tr>
            <td class='list-table-check-td think-checkbox'>
                <input class="list-check-box" value='{$vo.id}' type='checkbox'>
            </td>

            <td class='text-left nowrap'>{$vo.id}</td>
            <td class='text-left nowrap'>{$vo.username}</td>
            <td class='text-left nowrap'>¥{$vo.num}</td>
            <td class='text-left nowrap'>{$vo.shouxu*100}%</td>
            <td class='text-left nowrap'>¥{$vo.real_num}</td>
            <td class='text-left nowrap'>{$vo.bankname}</td>
            <td class='text-left nowrap'>{$vo.khname}</td>
            <td class='text-left nowrap'>{$vo.cardnum}</td>
            <td class='text-left nowrap'>{$vo.tel}</td>
            <td class='text-left nowrap'>{$vo.addtime|format_datetime}</td>
            <td class='text-left nowrap'>{$vo.endtime|format_datetime}</td>

            <td class='text-left nowrap'>
                {if ($vo.type == '1') }
                    <span class="layui-btn layui-btn-xs">盈利錢包</span>
                {/if}
                {if ($vo.type == '2') }
                    <span class="layui-btn layui-btn-xs">動態錢包</span>
                {/if}
                {if ($vo.type == '3') }
                    <span class="layui-btn layui-btn-xs layui-btn-warm">本金錢包</span>
                {/if}
            </td>
            <td class='text-left nowrap'>
                {switch $vo.status}
                {case 1}待稽核{/case}
                {case 2}稽核通過{/case}
                {case 3}稽核駁回{/case}
                {/switch}
            </td>
            <td class='text-left nowrap'>
            {if ($vo.status == 1) and auth("do_deposit")}
                <a class="layui-btn layui-btn-xs" data-csrf="{:systoken('admin/deal/do_deposit')}" data-action="{:url('do_deposit')}" data-value="id#{$vo.id};status#2">通過</a>
                <a class="layui-btn layui-btn-xs layui-btn-warm" data-csrf="{:systoken('admin/deal/do_deposit')}" data-action="{:url('do_deposit')}" data-value="id#{$vo.id};status#3;uid#{$vo.uid};num#{$vo.num}">駁回</a>
            {/if}
            </td>
        </tr>
        {/foreach}
        </tbody>
    </table>

    {empty name='list'}<span class="notdata">沒有記錄哦</span>{else}{$pagehtml|raw|default=''}{/empty}

</div>
{/block}
