{extend name='main'}

{block name="content"}

<div class="think-box-shadow">
    {include file='deal/order_list_search'}
    <table class="layui-table margin-top-15" lay-skin="line">
        {notempty name='list'}
        <thead>
        <tr>
            <th class='text-left nowrap'>訂單號</th>
            <th class='text-left nowrap'>用戶名</th>
            <th class='text-left nowrap'>商品名稱</th>
            <th class='text-left nowrap'>商品單價</th>
            <th class='text-left nowrap'>交易數量</th>
            <th class='text-left nowrap'>交易數額</th>
            <th class='text-left nowrap'>傭金</th>
            <th class='text-left nowrap'>下單時間</th>
            <th class='text-left nowrap'>解凍時間</th>
            <th class='text-left nowrap'>交易狀態</th>
            <th class='text-left nowrap'>操作</th>
        </tr>
        </thead>
        {/notempty}
        <tbody>
        {foreach $list as $key=>$vo}
        <tr>
            <td class='text-left nowrap'>{$vo.id}</td>
            <td class='text-left nowrap'>{$vo.username}</td>
            <td class='text-left nowrap'>{$vo.goods_name}</td>
            <td class='text-left nowrap'>¥{$vo.goods_price}</td>
            <td class='text-left nowrap'>{$vo.goods_count}</td>
            <td class='text-left nowrap'>¥{$vo.num}</td>
            <td class='text-left nowrap'>¥{$vo.commission}</td>
            <td class='text-left nowrap'>
                {$vo.addtime|format_datetime}
            </td>
            <td class='text-left nowrap'>
                {$vo.endtime|format_datetime}
            </td>
            <td class='text-left nowrap'>
                {switch $vo.status}
                    {case 0}
                        {literal}
                        <!-- {if auth("edit_recharge")}
                                <a data-csrf="{:systoken('admin/deal/edit_recharge')}" class="layui-btn layui-btn-xs layui-btn" data-action="{:url('edit_recharge',['status'=>2,'id'=>$vo.id])}" data-value="id#{$vo.id};status#2" >确认付款</a>
                                <a data-csrf="{:systoken('admin/deal/edit_recharge')}" class="layui-btn layui-btn-xs layui-btn-warm" data-action="{:url('edit_recharge',['status'=>3,'id'=>$vo.id])}" data-value="id#{$vo.id};status#3" >取消订单</a>
                            {/if} -->
                            等待付款
                        {/literal}
                    {/case}
                    {case 1}完成付款{/case}
                    {case 2}用戶取消{/case}
                    {case 3}強制付款{/case}
                    {case 4}系統取消{/case}
                    {case 5}訂單凍結{/case}
                {/switch}
            </td>
            <td class='text-left nowrap'>
                {if $vo.status==0}
                <a data-csrf="{:systoken('admin/deal/do_user_order')}" class="layui-btn layui-btn-xs layui-btn" data-action="{:url('do_user_order')}" data-value="id#{$vo.id};status#3" >強制付款</a>
                <a data-csrf="{:systoken('admin/deal/do_user_order')}" class="layui-btn layui-btn-xs layui-btn-warm" data-action="{:url('do_user_order')}" data-value="id#{$vo.id};status#4" >取消訂單</a>
                {/if}

                {if $vo.status==5}
                <a data-csrf="{:systoken('admin/deal/jiedong')}" class="layui-btn layui-btn-xs layui-btn" data-action="{:url('jiedong')}" data-value="id#{$vo.id};status#3" >手動解凍</a>
                {/if}
            </td>
        </tr>
        {/foreach}
        </tbody>
    </table>

    {empty name='list'}<span class="notdata">沒有記錄哦</span>{else}{$pagehtml|raw|default=''}{/empty}

</div>
{/block}
