
<fieldset>
    <legend>條件蒐索</legend>
    <form class="layui-form layui-form-pane form-search" action="{:request()->url()}" onsubmit="return false" method="get" autocomplete="off">
        <div class="layui-form-item layui-inline">
            <label class="layui-form-label">订单号</label>
            <div class="layui-input-inline">
                <input name="oid" value="{$Think.get.oid|default=''}" placeholder="請輸入訂單號" class="layui-input">
            </div>
        </div>
        <div class="layui-form-item layui-inline">
            <label class="layui-form-label">用戶名稱</label>
            <div class="layui-input-inline">
                <input name="username" value="{$Think.get.username|default=''}" placeholder="請輸入用戶名稱" class="layui-input">
            </div>
        </div>
        <div class="layui-form-item layui-inline">
            <label class="layui-form-label">手機號碼</label>
            <div class="layui-input-inline">
                <input name="tel" value="{$Think.get.tel|default=''}" placeholder="請輸入手機號碼" class="layui-input">
            </div>
        </div>

        <div class="layui-form-item layui-inline">
            <label class="layui-form-label">添加時間</label>
            <div class="layui-input-inline">
                <input data-date-range name="addtime" value="{$Think.get.addtime|default=''}" placeholder="請選擇添加時間" class="layui-input">
            </div>
        </div>
        <div class="layui-form-item layui-inline">
            <button class="layui-btn layui-btn-primary"><i class="layui-icon">&#xe615;</i> 蒐索</button>
        </div>
    </form>
</fieldset>

<script>form.render()</script>
